.rating-btn{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

}
.stars{
  height: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.comment{
  height: 190px;
}

