<form [formGroup]="form">
  <div class="stars">
    <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
  </div>

  <div class="form-group mb-6">
    <textarea
      rows="4"
      placeholder="Leave Comment"
      class="form-control form-control-rounded comment"
      formControlName="leaveComment"
      maxlength="500"
    ></textarea>
  </div>
</form>
<div class="rating-btn">
  <button
    mat-dialog-close
    (click)="MatDialogRef.close()"
    class="btn btn-secondary btn-rounded"
    type="button"
  >
    Cancel
  </button>
  <button class="btn btn-primary btn-rounded" (click)="saveRating()">
    Save
  </button>
</div>
