@import '../../../assets/styles/auth.scss';

.container {
  position: relative;
  top: -350px;
  z-index: 1;
}

.card {
  padding: 20px;
}

.masonry-item { width: 200px; }

ngx-masonry {
  height: 1000px;
}

.btn-rounded{
  z-index: 1;
  color: white;
  border: 1px solid;
  border-radius: 10rem;
  font-weight: 400;
  height: 43px;
  width: 130px;
}

.btn{
    transition: all .3s ease;
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    white-space: normal;
    line-height: 1.5;
    font-size: .875rem;
}

.fw-500 {
  font-weight: 500;
}

