<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container" style="margin-top: 70px">
  <div class="row text-center d-flex align-items-center mb-4 mt-4">
    <div class="col-12 col-lg-6 mx-auto">
      <h3 class="text-white fw-500 display-5 display-md-4 head-title">
        Events
      </h3>
    </div>
  </div>
  <div class="row" *ngIf="is_company">
    <div class="col-12 d-flex justify-content-end mb-4">
      <button
        class="btn btn-rounded btn-outline px-3 fw-400"
        (click)="addNewEvent(null)"
      >
        Add Event
      </button>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let list of eventList"
      class="col-xl-3 col-lg-4 col-md-6 slide-up"
    >
      <app-event-card-view [list]="list"></app-event-card-view>
    </div>
  </div>
</div>
