@import '../../assets/styles/auth.scss';
@import '../../assets/styles/shapes.scss';
@import '../../assets/styles/lan-shapes.scss';



.parallax {
  position: static;
}

.parallax, .parallax.blurred:before {
  background-attachment: fixed;
}

.parallax.blurred:before {
  position: absolute;
}
.app-landing-2-header .animation-shape.shape-triangle {
  top: 60% !important;
  left: 0;
  z-index: 1;
  animation-duration: 12s;
}
header {
  position: relative;
}

@media (min-width: 768px) {
.fullscreen-md {
    min-height: 70vh !important;
}
}






