<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>
<div class="container">

  <div class="card mb-5 mb-xl-10 slide-in">
    <div class="card-header border-0 cursor-pointer">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Profile Details</h3>
      </div>

    </div>

    <div id="kt_account_settings_profile_details" class="collapse show">

      <form id="kt_account_profile_details_form" action="" class="form fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="accountEditForm">

        <div class="card-body border-top p-9">


          <div class="row mb-6">

            <label for="" class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>

            <div class="col-lg-8">
              <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('')">

                <div class="image-input-wrapper w-125px h-125px" [style.background-image]="'url(' + this.accountEditForm.getRawValue().profilePicture + ')'"></div>

                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                  <i class="fas fa-pencil-alt"
                  (click)="imgFileInput.click()"
                  ></i>


                </label>
                <input type="file" accept="image/*" class="d-none" #imgFileInput name="" id="" (change)="uploadImage($event)">

                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                  <i class="bi bi-x fs-2"></i>
                </span>

                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                  <i class="fas fa-close"></i>
                </span>

              </div>

              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
            </div>
          </div>

          <div class="row mb-6">

            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>

            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6 col-12 fv-row fv-plugins-icon-container">
                  <div class="form-group has-icon mb-2">
                    <input
                      type="text"
                      id="register_username"
                      class="form-control form-control-rounded"
                      placeholder="First Name"
                      formControlName="accountFirstName"
                      matInput
                      type="text"
                    />
                    <i class="icon fas fa-user"></i>
                  </div>
                  <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <div class="col-md-6 col-12 fv-row fv-plugins-icon-container">
                  <div class="form-group has-icon">
                    <input
                      type="text"
                      id="register_fullname"
                      class="form-control form-control-rounded"
                      placeholder="Last Name"
                      formControlName="accountLastName"
                      matInput
                      type="text"
                    />
                    <i class="icon fas fa-user"></i>
                  </div>
                  <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  id="register_email"
                  class="form-control form-control-rounded"
                  placeholder="Valid email"
                  formControlName="accountEmail"
                  matInput
                  type="text"

                />
                <i class="icon fas fa-envelope"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">Phone</label>
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  id="register_email"
                  class="form-control form-control-rounded"
                  placeholder="Your Phone"
                  formControlName="accountPhoneNumber"
                  matInput
                  type="text"

                />
                <i class="icon fas fa-phone"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">Gender</label>
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group">
                <mat-select
                style="background-color: white;"
                  class="form-control form-control-rounded"
                  placeholder="Select Account Type"
                  formControlName="accountGender"
                >
                  <mat-option

                    *ngFor="let object of accountTypeList"
                    [value]="object.value"
                    >{{ object.name }}</mat-option
                  >

                </mat-select>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">City</label>
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  id="register_email"
                  class="form-control form-control-rounded"
                  placeholder="Your City"
                  formControlName="customerLocation"
                  matInput
                  type="text"

                />
                <i class="icon fas fa-location-arrow"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6">Country</label>
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  id="register_email"
                  class="form-control form-control-rounded"
                  placeholder="Your Country"

                  matInput
                  type="text"

                />
                <i class="icon fas fa-location-arrow"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>

        </div>

      </form>

    </div>

    <div class="card-footer">

        <button  type="submit"  class="btn bg-secondary btn-rounded ms-auto bold" [routerLink]="'../overview'">Cancel</button>
        <button type="submit" class="btn btn-primary btn-rounded ms-auto bold" (click)="updateAccount()">Update</button>

    </div>

  </div>


</div>

