<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container slide-up" *ngIf="is_loaded">
  <h2 class="title-details fw-400">Event Details</h2>
  <div class="card card-body p-md-5">
    <div class="d-flex flex-wrap flex-m-nowrap justify-content-center">
      <div class="me-md-5">
        <div
          class="image-input image-input-outline d-flex justify-content-center"
        >
          <img
            class="image-input-wrapper w-280px h-280px"
            [src]="
              eventDetails.eventPicture
                ? eventDetails.eventPicture
                : 'https://png.pngtree.com/png-vector/20190214/ourlarge/pngtree-people-icon-business-corporate-team-working-together-social-network-png-image_448381.jpg'
            "
          />
        </div>
      </div>
      <div class="flex-grow-1 mt-4 mt-md-0">
        <div
          class="d-flex justify-content-between align-items-start flex-wrap flex-wrap-md mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <span class="text-darker fs-3 fw-bold me-4">{{
                eventDetails.eventName
              }}</span>

              <span class="badge rounded-pill fw-400 bg-warning">{{
                eventDetails.eventStatusName
              }}</span>
            </div>
            <div class="d-flex flex-column fw-400 mb-4 pe-2">
              <span class="d-flex align-items-center"
                ><i class="bi bi-calendar-check text-muted fs-4 me-2"></i
                >{{ eventDetails.eventStartDate }}</span
              >
              <span class="d-flex align-items-center"
                ><i class="bi bi-calendar-x text-muted fs-4 me-2"></i>
                {{ eventDetails.eventEndDate }}</span
              >
              <span class="d-flex align-items-center"
                ><i class="bi bi-info-circle text-muted fs-4 me-2"></i
                >{{ eventDetails.eventDescription }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card mb-5 mb-xl-10 slide-in ng-star-inserted aplications-card"
    *ngIf="!has_campaign"
  >
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title m-0">
        <h3 class="fw-600 text-dark fs-5 m-0">Campaigns</h3>
      </div>
    </div>
    <div>
      <div class="card-body p-2 p-md-4 ng-star-inserted">
        <!-- <app-campaign-applications-table-view [campaignId]="campaignId"></app-campaign-applications-table-view> -->
      </div>
      <div class="card-body p-2 p-md-4 ng-star-inserted">
        <!-- <app-approved-applications-table-view [sidenav]="sidenav" [campaignID]="campaignID"></app-approved-applications-table-view> -->
      </div>

      <div class="card-body p-2 p-md-4 ng-star-inserted">
        <div class="row d-flex justify-content-between mb-7">
          <div
            class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
          >
            <i class="fas fa-tag text-muted"></i>
          </div>
          <label class="fw-400 text-center text-muted mt-2"
            >This event doesn't have any campaigns yet!</label
          >
        </div>
      </div>
    </div>
  </div>

  <ngx-masonry [options]="{ gutter: 10 }" *ngIf="has_campaign">
    <ul class="row masonry-image-list">
      <li
        class="mdc-image-list__item slide-up zoom-background"
        *ngFor="let list of campaignDetailsList"
      >
        <div class="masonry-img-overlay"></div>

        <img
          class="mdc-image-list__image image-background"
          [src]="list.campaignPicture"
        />

        <div class="promo-column">
          <div class="d-flex justify-content-end">
            <!-- *ngIf="account_id == list.companyId" -->
            <button
              class="btn-icon"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="more-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="me-2 fs-6 text-primary">edit</mat-icon>
                <span>Edit Event</span>
              </button>

              <button mat-menu-item>
                <mat-icon class="me-2 fs-6 text-danger">delete</mat-icon>
                <span>Delete Event</span>
              </button>
            </mat-menu>
          </div>

          <div class="rounded promo-block">
            <!-- <div
            class="absolute top right bottom left image-background cover overlay overlay-light alpha-3 w-100 h-100"
            [style.background-image]="'url(' + list.campaignPicture + ')'"
          ></div> -->
            <div class="content position-relative p-4">
              <h4 class="text-darker mt-0">{{ list.campaignName }}</h4>
              <p class="text-dark mt-0">
                {{ list.startDate }}
              </p>
              <a
                href="javascript:;"
                class="btn btn-contrast"
                [routerLink]="['/campaign/details', list.campaignGuid]"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ngx-masonry>
</div>

<router-outlet></router-outlet>
