<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="d-flex justify-content-between">
  <h4 class="fw-500" *ngIf="!is_editing">Create Campaign</h4>
  <h4 class="fw-500" *ngIf="is_editing">Edit Campaign</h4>
  <mat-icon
    role="img"
    mat-dialog-close=""
    mattooltip="Close form"
    class="mat-icon mat-tooltip-trigger material-icons mat-icon-no-color"
    aria-hidden="true"
    data-mat-icon-type="font"
    type="button"
    aria-describedby="cdk-describedby-message-8"
    cdk-describedby-host="0"
    >close</mat-icon
  >
</div>

<form [formGroup]="campaignFormGroup">
  <div class="scroll-box">
    <style>
      ::-webkit-scrollbar {
        width: 7px;
        height: auto;
      }
      ::-webkit-scrollbar-track {
        border-radius: 5px;
        box-shadow: gray;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: gray;
      }
    </style>
    <div class="form-group d-flex justify-content-center mb-2 div-scroll">
      <div class="image-input image-input-outline">
        <div
          class="image-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer"
          [style.background-image]="
            'url(' + this.campaignFormGroup.getRawValue().campaignPicture + ')'
          "
          (click)="imgFileInput.click()"
        >
          <div
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow edit ng-star-inserted"
            *ngIf="!has_picture"
          >
            <i class="fa fa-pencil fs-7"></i>
          </div>
          <div class="image-icon-holder text-center">
            <mat-icon
              role="img"
              class="mat-icon material-icons mat-icon-no-color"
              aria-hidden="true"
              data-mat-icon-type="font"
              *ngIf="has_picture"
            >
              image
            </mat-icon>
          </div>
          <p class="text-center" *ngIf="has_picture">Upload photo</p>
        </div>
        <input
          type="file"
          accept="image/*"
          class="choosefile d-none"
          #imgFileInput
          (change)="uploadImage($event)"
        />
      </div>
      <input type="file" accept="image/*" class="choosefile d-none" />
    </div>
    <div class="row mb-6">
      <label for="" class="fw-400 fs-13 text-muted mb-1">Campaign Name</label>
      <div class="col-lg-12 fv-row fv-plugins-icon-container">
        <div class="form-group has-icon">
          <input
            type="text"
            class="form-control form-control-rounded"
            placeholder="Campaign Name"
            formControlName="campaignName"
          />
          <i class="icon fas fa-building"></i>
        </div>
        <div class="fv-plugins-message-container invalid-feedback"></div>
      </div>
    </div>

    <div class="form-group mb-6">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="fw-400 fs-13 text-muted mb-1">Start Date</p>
          <div class="form-group has-icon">
            <input
              [ngxMatDatetimePicker]="pickerStartTime"
              class="form-control form-control-rounded"
              placeholder="Select start date"
              formControlName="startDate"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="$any(pickerStartTime)"
              class="icon m-0"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerStartTime>
            </ngx-mat-datetime-picker>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <p class="fw-400 fs-13 text-muted mb-1">End Date</p>
          <div class="form-group has-icon">
            <input
              matInput
              [ngxMatDatetimePicker]="pickerEndTime"
              class="form-control form-control-rounded"
              placeholder="Select end date"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(pickerEndTime)"
              class="icon m-0"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerEndTime> </ngx-mat-datetime-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        mat-icon-button
        class="add-icon"
        (click)="addMerch(null)"
        [disabled]="merching.length >= itemType.length"
        #tooltip="matTooltip"
        matTooltip="Add Merch"
        aria-tooltip="Button that displays and hides a tooltip triggered by other buttons"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="form-group mb-6">
      <div formArrayName="merching">
        <div
          *ngFor="let merchForm of merching.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="row">
            <div class="col-12 col-md-6">
              <p class="fw-400 fs-13 text-muted mb-1">Campaign Merch</p>
              <mat-select
                role="combobox"
                aria-autocomplete="none"
                aria-haspopup="true"
                placeholder="Select your merch"
                class="mat-select form-control form-control-rounded mat-select-required"
                formControlName="merch"
                (selectionChange)="itemSelected(i)"
              >
                <mat-option
                  *ngFor="let item of itemType"
                  [value]="item"
                  [disabled]="selectedItemTypes.includes(item.value)"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </div>
            <div class="col-12 col-md-6">
              <p class="fw-400 fs-13 text-muted mb-1">Campaign Price</p>
              <div class="d-flex">
                <input
                  type="text"
                  placeholder="Campaign price"
                  class="form-control form-control-rounded"
                  formControlName="price"
                />
                <button
                  mat-icon-button
                  class="add-icon"
                  (click)="removeMerch(i)"
                  [disabled]="merching.length <= 1"
                  #tooltip="matTooltip"
                  matTooltip="Remove Merch"
                  aria-tooltip="Button that displays and hides a tooltip triggered by other buttons"
                >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mb-6">
      <p class="fw-400 fs-13 text-muted mb-1">Campaign Terms</p>
      <textarea
        rows="4"
        placeholder="Campaign terms"
        class="form-control form-control-rounded terms"
        formControlName="campaignTerms"
      ></textarea>
    </div>
  </div>
</form>

<div class="form-actions d-flex justify-content-between">
  <button
    mat-dialog-close=""
    class="btn btn-secondary btn-rounded"
    type="button"
  >
    Cancel
  </button>
  <button class="btn btn-primary btn-rounded" (click)="updatecampaignForm()">
    Save
  </button>
</div>
