section {
  position: relative;
}
.b-t {
  border-top: 1px solid #d9e2ef;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(217, 226, 239);
}
.mx-lg-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.ms-3 {
  margin-left: 1rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.icon-md {
  width: 1.75rem;
  height: 1.75rem;
}
.flex-fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}
.me-3 {
  margin-right: 1rem !important;
}

::ng-deep label.star {
  float: right;
  padding: 3px !important;
  font-size: 16px !important;
  color: #444;
  transition: none;
}

::ng-deep label .star:hover {
  transform: none !important;
}

::ng-deep label.star:before {
  color: blue !important;
  text-shadow: none;
}

span {
  font-size: 12px;
}
.delete-btn{
  position: absolute;
    bottom: 0px;
    right: 0;
    cursor: pointer;
}
.icon-delete-customer{
  position: absolute;
  left: 230px;
  bottom: 35px;
  font-size: 20px;
  cursor: pointer;
}