<section>
  <div
    class="container b-2x"
    *ngIf="ratingDetails && ratingDetails.customerRating"
  >
    <div class="d-flex">
      <img
        *ngIf="ratingDetails.companyAvatar"
        class="d-flex me-3 icon-md rounded-circle shadow"
        [src]="ratingDetails.customerAvatar"
        [src]="
          ratingDetails.customerAvatar
            ? ratingDetails.customerAvatar
            : '../../../../assets/img/user.png'
        "
      />
      <div class="flex-fill">
        <h5 class="my-0 bold">{{ ratingDetails.customerName }}</h5>
        <span class="text-secondary">
          <div class="d-flex stars">
            <ngx-star-rating
              [(ngModel)]="ratingDetails.customerRating"
              [disabled]="true"
            ></ngx-star-rating>
          </div>
        </span>
        <p class="small mb-0">{{ ratingDetails.customerComment }}</p>
        <span class="text-muted">{{ ratingDetails.customerCommentDate }}</span>
        <hr />
      </div>
    </div>
  </div>

  <!-- company review -->

  <div
    class="container b-2x"
    *ngIf="ratingDetails && ratingDetails.companyRating"
  >
    <div class="d-flex flex-row-reverse">
      <img
        *ngIf="ratingDetails.companyAvatar"
        class="d-flex ms-3 icon-md rounded-circle shadow"
        [src]="ratingDetails.companyAvatar"
        [src]="
          ratingDetails.companyAvatar
            ? ratingDetails.companyAvatar
            : '../../../../assets/img/user.png'
        "
      />
      <div class="flex-fill d-flex flex-column align-items-end">
        <h5 class="my-0 bold">{{ ratingDetails.companyName }}</h5>
        <span class="text-secondary">
          <div class="stars d-flex">
            <ngx-star-rating
              [(ngModel)]="ratingDetails.companyRating"
              [disabled]="true"
            ></ngx-star-rating>
          </div>
        </span>
        <p class="small text-end mb-0">{{ ratingDetails.companyComment }}</p>
        <span class="text-muted">{{ ratingDetails.companyCommentDate }}</span>
        <hr />
      </div>
    </div>
  </div>
</section>
