<div class="container">
  <div class="card mb-5 mb-xl-10 slide-in" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">My Profile</h3>
    </div>
    <a [routerLink]="'../edit-details'" class="btn btn-primary align-self-center">Edit Profile</a>
  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Full Name</label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{accountObject.firstName}} {{accountObject.lastName}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Email</label>
      <div class="col-lg-8 fv-row">
        <span class="fw-bold text-gray-800 fs-6">{{accountObject.email}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Phone</label>
      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 text-gray-800">{{accountObject.phoneNumber}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">City</label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">Veles</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Country</label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">Macedonia</span>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5 mb-xl-10 slide-in" id="kt_profile_details_view" *ngIf="is_comapny">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">My Company</h3>
    </div>
    <a (click)="editCompany()" class="btn btn-primary align-self-center" >Edit Company</a>
  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Name</label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{companyDetails.companyName}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Email</label>
      <div class="col-lg-8 fv-row">
        <span class="fw-bold text-gray-800 fs-6">{{companyDetails.companyEmail}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Address</label>
      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 text-gray-800">{{companyDetails.companyAddress}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Phone</label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{companyDetails.companyPhoneNumber}}</span>
      </div>
    </div>
  </div>
</div>
</div>
