@import '../../../../assets/styles/auth.scss';

.container {
  position: relative;
  top: -350px;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f5;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px #4c577d26;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 2.25rem;
  background-color: transparent;
  border-bottom: 1px solid #eff2f5;
}
.card-header:first-child {
  border-radius: calc(0.475rem - 1px) calc(0.475rem - 1px) 0 0;
}
.cursor-pointer {
  cursor: pointer;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eff2f5;
}
.card .card-header .card-title, .card .card-header .card-title .card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181c32;
}
.card .card-header .card-title {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
}
.m-0 {
  margin: 0!important;
}
.card-title {
  margin-bottom: 0.5rem;
}.card .card-header .card-title .h1, .card .card-header .card-title .h2, .card .card-header .card-title .h3, .card .card-header .card-title .h4, .card .card-header .card-title .h5, .card .card-header .card-title .h6, .card .card-header .card-title h1, .card .card-header .card-title h2, .card .card-header .card-title h3, .card .card-header .card-title h4, .card .card-header .card-title h5, .card .card-header .card-title h6 {
  margin-bottom: 0;
}

.fw-bolder {
  font-weight: 600!important;
}
.m-0 {
  margin: 0!important;
}
.h3, h3 {
  font-size: calc(1.26rem + .12vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #181c32;
}
.mb-7 {
  margin-bottom: 1.75rem!important;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}

// @media (min-width: 1200px) {
//   .container-xl, .container-lg, .container-md, .container-sm, .container {
//     max-width: 1140px !important;
// }
// }
