<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container-fluid">
  <div class="row align-items-center">
    <div
      class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
      style="
        background-image: url(https://picsum.photos/1920/1200/?random&gravity=south);
      "
    >
      <div class="content">
        <h2
          class="display-4 display-md-3 display-lg-2 text-contrast mt-4 mt-md-0"
        >
          Get started with <span class="bold d-block">Dashcore</span>
        </h2>
        <p class="lead text-contrast">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 mx-auto">
      <div class="register-form mt-5 mt-md-0">
        <img
          src="../../../assets/img/icon.png"
          class="logo img-responsive mb-4 mb-md-6"
          alt=""
        />
        <h1 class="text-darker bold">Register</h1>
        <p class="text-secondary mb-4 mb-md-6">
          Already have an account?
          <a [routerLink]="'../login'" class="text-primary bold">Login here</a>
        </p>
        <form
          class="cozy mt-5"
          action="srv/login.php"
          data-validate-on="submit"
          novalidate
          [formGroup]="editFormGroup"
        >
          <div class="form-group has-icon">
            <input
              type="text"
              id="register_username"
              class="form-control form-control-rounded"
              placeholder="First Name"
              formControlName="firstName"
              matInput
              type="text"
            />
            <i class="icon fas fa-user-plus"></i>
          </div>
          <div class="form-group has-icon">
            <input
              type="text"
              id="register_fullname"
              class="form-control form-control-rounded"
              placeholder="Last Name"
              formControlName="lastName"
              matInput
              type="text"
            />
            <i class="icon fas fa-address-card"></i>
          </div>
          <span id="alert-message">This email is already registered</span>
          <div class="form-group has-icon">
            <input
              type="text"
              id="register_email"
              class="form-control form-control-rounded"
              placeholder="Valid email"
              formControlName="email"
              matInput
              type="text"
              (focusout)="checkEmail($event)"
              [ngClass]="isEmailValid ? '' : 'is-invalid'"
            />
            <i class="icon fas fa-envelope"></i>
          </div>

          <div class="form-group has-icon">
            <input

              id="register_password"
              class="form-control form-control-rounded"
              placeholder="Password"
              formControlName="password"
              matInput
              [type]="!fieldTextType ? 'text' : 'password'"

              autocomplete="new-password"
            />

            <i class="icon fas"   [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }" (click)="toggleFieldTextType()"></i>

          </div>
          <div class="form-group">
            <mat-select
              class="form-control form-control-rounded"
              placeholder="Select Account Type"
              formControlName="accountType"
            >
              <mat-option
                *ngFor="let object of accountTypeList"
                [value]="object.value"
                >{{ object.name }}</mat-option
              >
              <!-- <mat-option value="2">Customer</mat-option> -->
            </mat-select>
          </div>

          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <button
              type="submit"
              class="btn btn-primary btn-rounded ms-auto bold"
              (click)="createAccount()"
              [disabled]="editFormGroup.invalid"
            >
              Register <i class="fas fa-long-arrow-alt-right ms-2"></i>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
