@import '../../../assets/styles/auth.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.slide-up{
  animation: slide-up .3s linear;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}

.slide-left{
  animation: slide-in .3s linear;
}



.slide-up {
  animation:slide-up .3s linear
}

.proof-sidebar {
  width: 70%;
}






@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }

  to{
    transform:translateY(0)
  }
}

#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}


@media (min-width: 768px) {
.fullscreen-md {
    min-height: 70vh !important;
}
}


.container {
  position: relative;
  top: -350px;
  z-index: 1;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}


.card {
  border: 0;
  box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}


.card .card-body {
  padding: 2rem 2.25rem;

}

.image-input{
  position: relative;
  display: inline-block;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid #fff;
  box-shadow: 0 0.1rem 1rem 0.25rem #00000026;
}

.image-input .image-input-wrapper {
  width: 310px;
  height: 320px;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-280px {
  height: 280px!important;
}

.w-280px {
  width: 280px!important;
}

.badge {
  display: inline-block;
  padding: 0.5em 1.25em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.rounded-pill {
  border-radius: 50rem!important;
}

.fw-400 {
  font-weight: 400!important;
}

.text-muted {
  color: #a1a5b7!important;
}

@media (min-width: 768px) {
.flex-md-column {
    flex-direction: column!important;
}

}

.btn-primary {
  height: 43px;
  width: 140px;
  font-size: .875rem;
}
.card {
  border: 0;
  box-shadow: 0 0 20px #4c577d26;
}

.title-details {
  color: white;

    padding-bottom: 33px;
}

.card {
  border: 0;
  box-shadow: 0 0 20px #4c577d26;
}

.mb-5 {
  margin-bottom: 3rem!important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  // margin-top: 40px;
}

.card-header:first-child {
  border-radius: calc(0.475rem - 1px) calc(0.475rem - 1px) 0 0;
}

.aplications-card {
  margin-top: 50px
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 2.25rem;
  background-color: transparent;
  border-bottom: 1px solid #eff2f5;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eff2f5;
}

.card .card-header .card-title, .card .card-header .card-title .card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181c32;
}

.card .card-header .card-title {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
}
.m-0 {
  margin: 0!important;
}
.card-title {
  margin-bottom: 0.5rem;
}

.fw-600 {
  font-weight: 600!important;
}

.text-dark {
  color: #2b354f!important;
}

@media (min-width: 768px) {
.p-md-4 {
    padding: 1.5rem!important;
}
.flex-wrap {
  flex-wrap: nowrap !important;
}
}

@media (min-width: 992px) {
.symbol.symbol-80px.symbol-fixed > i {
    font-size: 80px;
    width: 80px;
    height: 80px;
    max-width: auto;
    border-radius: 0.475rem;
}
}

@media (max-width: 992px) {
  .flex-wrap-md {
    flex-wrap: wrap !important;
  }

}
.delete-btn{
  margin-left: 25px;
  font-size: 22px;
  cursor: pointer;
}



