<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container slide-up" *ngIf="is_loaded">
  <h2 class="title-details fw-400">Campaign Details</h2>

  <mat-sidenav-container>
    <div class="card card-body p-md-5">
      <div class="d-flex flex-wrap flex-m-nowrap justify-content-center">
        <div class="me-md-5">
          <div
            class="image-input image-input-outline d-flex justify-content-center"
          >
            <img
              class="image-input-wrapper w-280px h-280px"
              [src]="
                activeCampaignDetails.campaignPicture
                  ? activeCampaignDetails.campaignPicture
                  : 'https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg'
              "
            />
          </div>
        </div>
        <div class="flex-grow-1 mt-4 mt-md-0">
          <div
            class="d-flex justify-content-between align-items-start flex-wrap flex-wrap-md mb-2"
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <span class="text-darker fs-3 fw-bold me-4">{{
                  activeCampaignDetails.campaignName
                }}</span>

                <span class="badge rounded-pill fw-400 bg-warning">{{
                  activeCampaignDetails.campaignStatusName
                }}</span>
              </div>
              <div class="d-flex flex-column fw-400 mb-4 pe-2">
                <!-- <span class="d-flex align-items-center">
                  <i class="bi bi-cash text-muted fs-4 me-2"></i>{{activeCampaignDetails.price}}</span> -->
                <span class="d-flex align-items-center"
                  ><i class="bi bi-calendar-check text-muted fs-4 me-2"></i
                  >{{ activeCampaignDetails.startDate }}</span
                >
                <span class="d-flex align-items-center"
                  ><i class="bi bi-calendar-x text-muted fs-4 me-2"></i
                  >{{ activeCampaignDetails.endDate }}
                </span>
                <span class="d-flex align-items-center"
                  ><i class="bi bi-info-circle text-muted fs-4 me-2"></i
                  >{{ activeCampaignDetails.campaignTerms }}</span
                >
              </div>
            </div>
            <div class="d-flex flex-md-column">
              <button
                class="btn btn-primary btn-rounded me-2 me-md-0 fw-400"
                *ngIf="!is_comapny"
                (click)="applayForCampaign()"
              >
                Apply Now
              </button>
              <!---->
              <button
                class="btn btn-primary btn-rounded mt-md-2 fw-400"
                *ngIf="!is_comapny"
                (click)="viewCompanynByGuid()"
              >
                View Company
              </button>
              <!---->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeCompany">
      <div
        class="card mb-5 mb-xl-10 slide-in ng-star-inserted aplications-card"
        *ngIf="is_comapny"
      >
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div class="card-title m-0">
            <h3 class="fw-600 text-dark fs-5 m-0">Applications</h3>
          </div>
        </div>
        <div *ngIf="activeCompany">
          <mat-tab-group
            mat-stretch-tabs
            class="example-stretched-tabs mat-elevation-z4"
          >
            <mat-tab label="Applicants">
              <ng-template matTabContent>
                <div
                  *ngIf="has_applicants"
                  class="card-body p-2 p-md-4 ng-star-inserted"
                >
                  <app-campaign-aplication-details-t-v
                    type="All"
                    [campaignId]="campaignId"
                  >
                  </app-campaign-aplication-details-t-v>
                  <!-- <app-campaign-applications-table-view [campaignId]="campaignId"></app-campaign-applications-table-view> -->
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Participants">
              <ng-template matTabContent>
                <div
                  *ngIf="has_applicants"
                  class="card-body p-2 p-md-4 ng-star-inserted"
                >
                  <app-campaign-aplication-details-t-v
                    type="Approved"
                    [sidenav]="sidenav"
                    [campaignId]="campaignId"
                  >
                  </app-campaign-aplication-details-t-v>

                  <!-- <app-approved-applications-table-view [sidenav]="sidenav" [campaignID]="campaignID"></app-approved-applications-table-view> -->
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

          <div
            *ngIf="!has_applicants"
            class="card-body p-2 p-md-4 ng-star-inserted"
          >
            <div class="row d-flex justify-content-between mb-7">
              <div
                class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
              >
                <i class="fas fa-tag text-muted"></i>
              </div>
              <label class="fw-400 text-center text-muted mt-2"
                >This campaign doesn't have any applications yet</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 mb-xl-10 slide-in mt-5">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="card-title m-0">
          <h3 class="fw-600 text-dark fs-5 m-0">Customer Reviews</h3>
        </div>
      </div>
      <div class="card-body p-2 p-md-4 ng-star-inserted">
        <div *ngIf="ratingDetailsList.length > 0">
          <div *ngFor="let rating of ratingDetailsList">
            <div class="delete-box d-flex justify-content-between mb-3">
              <div class="d-flex">
                <h5>Customer Review</h5>
                <mat-icon
                  class="icon-delete delete-btn"
                  matTooltip="Delete"
                  (click)="removeRating(rating.feedbackId)"
                  *ngIf="!is_company"
                  >delete</mat-icon
                >
              </div>
              <div class="d-flex">
                <h5>Company Review</h5>
                <mat-icon
                  class="icon-delete delete-btn"
                  matTooltip="Delete"
                  (click)="removeRating(rating.feedbackId)"
                  *ngIf="is_company"
                  >delete</mat-icon
                >
              </div>
            </div>
            <app-rating-details [ratingDetails]="rating"></app-rating-details>
          </div>
        </div>
        <div
          class="card-body p-2 p-md-4 ng-star-inserted"
          *ngIf="ratingDetailsList.length == 0"
        >
          <div class="row d-flex justify-content-between mb-7">
            <div
              class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
            >
              <i class="fas fa-tag text-muted"></i>
            </div>
            <label class="fw-400 text-center text-muted mt-2"
              >This campaign doesn't have reviews</label
            >
          </div>
        </div>
      </div>
    </div>

    <mat-sidenav #sidenav class="proof-sidebar p-4" mode="over" position="end">
      <app-applicants-proof-sidenav
        [sidenav]="sidenav"
      ></app-applicants-proof-sidenav>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
