<div id="post-spinner" *ngIf="showSpinner" >
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <h4 class="fw-500 col-12" >Add proof</h4>

    <mat-icon
      role="img"
      mat-dialog-close=""
      mattooltip="Close form"
      class="mat-icon mat-tooltip-trigger material-icons mat-icon-no-color"
      aria-hidden="true"
      data-mat-icon-type="font"
      type="button"
      aria-describedby="cdk-describedby-message-8"
      cdk-describedby-host="0"
      >close</mat-icon
    >
  </div>

  <form class="content" [formGroup]="proofFormGroup">
    <div class="row">
      <div class="col-12 form-group d-flex justify-content-center mb-2 mt-3">
        <div class="row image-input image-input-outline"  formArrayName="merchingImages">

           <div *ngFor="let image of this.proofFormGroup.getRawValue().images, let i = index"
           class="col-4 image-input-wrapper w-150px h-150px d-flex uploaded-image"
            [style.background-image]="'url(' + image.imageUrl + ')'"
            >
            <div class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow edit ng-star-inserted" *ngIf="has_picture" >
              <i class="fa fa-times fs-7" (click)="removeImage(i)"></i>
            </div>

          </div>


          <div class="col-4 image-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer"


            (click)="imgFileInput.click()"
          >


          <!-- <div class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow edit ng-star-inserted" *ngIf="has_picture">
            <i class="fa fa-pencil fs-7"></i>
          </div> -->
            <div class="image-icon-holder text-center">
              <mat-icon
                role="img"
                class="mat-icon material-icons mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="font"

              >
                image
              </mat-icon>
            </div>
            <p class="text-center" >Upload Photo</p>
          </div>
          <input
            type="file"
            accept="image/*"
            class="choosefile d-none"
            #imgFileInput
            (change)="uploadImage($event)"
          />

        </div>
      </div>
    </div>

   <div class="row">
    <div class="col-12 form-group d-flex justify-content-center mb-2 ">
      <div class="row video-input video-input-outline" formArrayName="merchingVideos">

        <div *ngFor="let video of this.proofFormGroup.getRawValue().videos"
        class="col-4 video-input-wrapper w-150px h-150px d-flex"
         >
         <!-- <div class="video_overlay w-150px h-150px"></div> -->
         <video #videoElement  class=" w-150px h-150px">
           <source [src]="video.videoUrl" type="video/mp4"/>
         </video>

         <div class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow edit ng-star-inserted" *ngIf="has_video">
          <i class="fa fa-times fs-7"></i>
        </div>

      </div>

        <div
          class="col-4 video-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer"

          (click)="videoFileInput.click()"
        >
        <!-- [style.background-image]=" 'url(' + this.proofFormGroup.getRawValue().videos + ')'" -->
        <!-- <div class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow edit ng-star-inserted" *ngIf="has_video">
          <i class="fa fa-pencil fs-7"></i>
        </div> -->
          <div class="video-icon-holder text-center">
            <mat-icon
              role="img"
              class="mat-icon material-icons mat-icon-no-color"
              aria-hidden="true"
              data-mat-icon-type="font"

            >
            videocam</mat-icon>
          </div>
          <p class="text-center" >Upload Video</p>
        </div>
        <input
          type="file"
          accept="video/mp4,video/x-m4v,video/*"
          class="choosefile d-none"
          #videoFileInput
          (change)="uploadVideo($event)"
        />
      </div>
      </div>
   </div>



  </form>
  <div class="form-actions d-flex justify-content-between mt-5">
    <button
      mat-dialog-close=""
      class="btn btn-secondary btn-rounded"
      type="button"
    >
      Cancel
    </button>
    <button class="btn btn-primary btn-rounded save-btn" (click)="updateProof()">
      Save
    </button>
  </div>
</div>



