@import '../../../assets/styles/auth.scss';

.slide-up{
  animation: slide-up .3s linear;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}

.slide-left{
  animation: slide-in .3s linear;
}



.slide-up {
  animation:slide-up .3s linear
}






@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }

  to{
    transform:translateY(0)
  }
}



body{
  font-family: Poppins,sans-serif!important;
}


.banner-position{
  position: relative;
  top: -260px;
  z-index: 1;

}

.head-title {
  font-weight: 500;
}
.btn-rounded{
  z-index: 1;
  color: white;
  border: 1px solid;
  // border-radius: 10rem;
  // padding: 0.65rem 1.35rem;
  font-weight: 400;
  height: 43px;
  border-radius: 30px !important;
    color: white !important;
    border: 1px solid white;
}
.btn{
    transition: all .3s ease;
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    white-space: normal;
    line-height: 1.5;
    font-size: .875rem;
}

.container {
  position: relative;
  top: -350px;
  z-index: 1;
}

@media (min-width: 1400px) {
  .container {
     max-width: 1320px;
 }

 }

 .container-fluid {
  position: relative;
  top: -350px;
  z-index: 1;

 }

 @media (min-width: 768px) {
  .display-md-4 {
    font-size: 3.5rem!important;
}

 }

 @media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
}


 }

 @media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
}
 }

 #post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}


///// card-view design


.row.gap-y > .col, .row.gap-y > [class*="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}

.promo-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 260px;
}

.zoom-background {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.rounded {
  border-radius: 0.25rem !important;
}

.zoom-background .image-background {
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.image-background.cover {
  background-size: cover;
}
.left {
  left: 0 !important;
}
.bottom {
  bottom: 0 !important;
}
.right {
  right: 0 !important;
}
.top {
  top: 0 !important;
}
.absolute {
  position: absolute !important;
}
.overlay {
  position: relative;
}
.image-background {
  position: relative;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}

.overlay.overlay-light.alpha-3:after {
  background-color: rgba(241, 244, 248, 0.3);
}
.overlay.overlay-light:after {
  background-color: rgba(241, 244, 248, 0.6);
}
.zoom-background .overlay:after {
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
}
.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // background-color: rgba(39, 51, 62, 0.6);
  opacity: 1;
  z-index: 0;
}

.p-4 {
  padding: 1.5rem !important;
}

.position-relative {
  position: relative !important;
}

.text-darker {
  color: #ffffff !important;
}

.text-dark {
  color: #ffffff !important;
}

.mt-0 {
  margin-top: 0 !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 1rem;
  font-weight: 400;
  color: #161c2d;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: normal;
  line-height: 1.5;
}

.btn-contrast {
  color: #161c2d;
  background-color: #ffffff;
  border-color: #ffffff;
}
// .btn {
//   display: inline-block;
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
//   line-height: 1.5;
//   color: #6d768b;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   padding: 0.65rem 1.35rem;
//   font-size: 0.875rem;
//   border-radius: 0.25rem;
//   -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
// }

.btn-contrast {
  color: #161c2d;
  background-color: #ffffff;
  border-color: #ffffff;
}

.zoom-background {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.zoom-background:hover .image-background {
  -webkit-transform: scale(1.3) rotate(10deg);
  transform: scale(1.3) rotate(10deg);
}


.mdc-image-list__item {
  margin-bottom: 16px;
  break-inside: avoid-column;
  list-style-type: none;
  position: relative;
  padding: 0 !important;
  border-radius: 10px;
}


.mdc-image-list__image {
  display: block;
  height: auto;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.masonry-image-list {
    column-count: 3;
    column-gap: 16px;
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0 !important;
}

.masonry-title {
  position: absolute;
  top: 30px;
  left: 20px;
  color: white;
}

.masonry-img-overlay {
  background-color: rgb(0 0 0 / 21%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.more-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  transform: rotate(90deg);
  cursor: pointer;
}

// .btn-icon {
//   position: absolute;
//   right: 10px;
// }
