<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container" style="margin-top: 70px">
  <div class="row text-center d-flex align-items-center">
    <div class="col-12 col-lg-6 mx-auto">
      <h3 class="text-white fw-800 display-5 display-md-4 head-title">
        Campaigns
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end mb-4">
      <button
        class="btn btn-rounded btn-outline px-3 fw-400"
        *ngIf="is_company"
        (click)="addNewCampaign(null)"
      >
        Add Campaign
      </button>
    </div>
  </div>
  <ngx-masonry [options]="{ gutter: 10 }">
    <ul class="row masonry-image-list">
      <li
        class="mdc-image-list__item slide-up zoom-background"
        *ngFor="let list of campaignsList"
      >
        <div class="masonry-img-overlay"></div>

        <img
          class="mdc-image-list__image image-background"
          [src]="list.campaignPicture"
        />

        <div class="promo-column">
          <div class="d-flex justify-content-end" *ngIf="is_company">
            <!-- *ngIf="account_id == list.companyId" -->
            <button
              class="btn-icon"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="more-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editCampaign(list)">
                <mat-icon class="me-2 fs-6 text-primary">edit</mat-icon>
                <span>Edit Event</span>
              </button>

              <button mat-menu-item (click)="deleteCampaign(list.campaignId)">
                <mat-icon class="me-2 fs-6 text-danger">delete</mat-icon>
                <span>Delete Event</span>
              </button>
            </mat-menu>
          </div>

          <div class="rounded promo-block">
            <!-- <div
          class="absolute top right bottom left image-background cover overlay overlay-light alpha-3 w-100 h-100"
          [style.background-image]="'url(' + list.campaignPicture + ')'"
        ></div> -->
            <div class="content position-relative p-4">
              <h4 class="text-darker mt-0">{{ list.campaignName }}</h4>
              <!-- <p class="text-dark mt-0">
            {{list.startDate}}
          </p> -->
              <a
                href="javascript:;"
                class="btn btn-contrast"
                [routerLink]="['/campaign/details', list.campaignGuid]"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ngx-masonry>
</div>
