
<div class="card card-custom">
  <div class="card-body py-0">
    <div class="table-responsive">

<table
mat-table
matSort
[style.width.%]="100"
[ngClass]="show_table ? 'show-table' : 'hide-table'"
[dataSource]="dataSource"
multiTemplateDataRows>

    <ng-container matColumnDef="companyLogo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><img style="height: 40px; width: 40px; border-radius: 50%;"
        alt=""
        [src]="row.companyLogo
        ? row.companyLogo
            : 'https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg'
        "></td>
    </ng-container>

    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
        <td mat-cell *matCellDef="let row">{{row.companyName}}</td>
    </ng-container>

    <ng-container matColumnDef="companyAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{row.companyAddress}}</td>
    </ng-container>

    <ng-container matColumnDef="companyPhoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.companyPhoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="companyEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.companyEmail}}</td>
    </ng-container>

    <ng-container matColumnDef="contactInformation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Information</th>
      <td mat-cell *matCellDef="let row"><mat-icon>expand_more</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == companyElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">

          </div>
          <div class="example-element-description">
           <div class="d-flex justify-content-around">
             <div class="">
               <h6 >First Name</h6>
               <p>
                {{element.contactInformation.contactFirstName}}
              </p>
             </div>
             <div class="">
              <h6>Last Name</h6>
              <p>
               {{element.contactInformation.contactLastName}}
             </p>
            </div>
            <div class="">
              <h6>Email</h6>
              <p>
               {{element.contactInformation.contactEmail}}
             </p>
            </div>
            <div class="">
              <h6>Phone</h6>
              <p>
               {{element.contactInformation.contactPhoneNumber}}
             </p>
            </div>
           </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row" class="example-element-row" (click)="expandRow(row)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator #paginator
[ngClass]="show_table ? 'show-table' : 'hide-table'"
    [length]="totalCount"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50]">
</mat-paginator>
    </div>
  </div>
</div>
