@import '../../../assets/styles/auth.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}
.card {
  border: 0;
  box-shadow: 0 0 20px #4c577d26;
}

.cursor{
  cursor: pointer;
}

.badge {
  display: inline-block;
  padding: 0.5em 1.25em;
  font-size: .75em;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.rounded-pill {
  border-radius: 50rem!important;
}

.icon {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .mat-cell, .mat-footer-cell {
    font-size: 10px !important;
}

.fs-4 {
  font-size: calc(1rem ) !important;
}
  }

  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    /* display: flex; */
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  .container {
    min-width: 100% !important;
  }
