<nav
  class="st-nav navbar main-nav navigation fixed-top"
  id="main-nav"
  [ngClass]="isScrolled ? 'navbar-sticky' : ''"
>
  <div class="container">
    <ul class="st-nav-menu nav navbar-nav">
      <li class="st-nav-section nav-item">
        <a [routerLink]="''" class="navbar-brand">
          <img *ngIf="isScrolled || _router.url == '/' || is_mobile"
            src="../../../assets/img/icon.png"
            alt="BrandGear"
            class="logo logo-sticky d-inline-block d-md-none"
          />
          <img *ngIf="!isScrolled && _router.url != '/'"
            src="../../../assets/img/logo-white.svg"
            alt="BrandGear"
            class="logo logo-sticky d-inline-block d-md-none"
          />
        </a>
      </li>
       <li class="st-nav-section st-nav-secondary nav-item">
        <button class="btn btn-rounded btn-outline me-3 px-3" *ngIf="!isLogIn" target="_blank"
          [routerLink]="'auth/login'"><i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i>
          <span class="d-md-none d-lg-inline">Login</span>
        </button>
        <button
          class="btn btn-rounded btn-solid px-3 mr-3"
          [routerLink]="'auth/register'"
          *ngIf="!isLogIn"
        >
          <i class="fas fa-user-plus d-none d-md-inline me-md-0 me-lg-2"></i>
          <span class="d-md-none d-lg-inline">Signup</span>
        </button>
        <button
          class="btn btn-rounded btn-outline user-name me-3 px-3 ml-3 st-nav-menu"
          *ngIf="isLogIn"
          (click)="showMobileMenu = !showMobileMenu"
        >
          <i class="fas fa-user d-none d-md-inline me-md-0 me-lg-2"></i>
          <span class="d-lg-inline ml-10">{{ currentActiveAccount }}</span>
          <i class="fas fa-solid fa-caret-down pl-3"></i>
        </button>
      </li>



      <li class="st-nav-section st-nav-mobile nav-item" [ngClass]="showMobileMenu ? 'st-popup-active' : ''">
        <button class="st-root-link navbar-toggler d-md-none" type="button" (click)="showMobileMenu = !showMobileMenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="st-popup">
          <div class="st-popup-container">
            <a
              class="st-popup-close-button"
              (click)="showMobileMenu = !showMobileMenu"
              >Close</a
            >
            <div class="st-dropdown-content-group" *ngIf="isLogIn">
              <h4 class="text-uppercase regular">Pages</h4>
              <a class="regular" [routerLink]="'../event/list'" (click)="showMobileMenu = !showMobileMenu"><i class="fas fa-table me-2" ></i> Events </a>
                <a class="regular" [routerLink]="'../campaign/list'" (click)="showMobileMenu = !showMobileMenu"><i class="fas fa-table me-2" ></i> All Campaigns </a>
                <a class="regular" [routerLink]="'../user/details/campaigns-overview'" (click)="showMobileMenu = !showMobileMenu"><i class="fas fa-hand-holding-usd me-2"></i> My Campaigns </a>
                <a class="regular" [routerLink]="'../user/details/overview'" (click)="showMobileMenu = !showMobileMenu"><i class="far fa-user me-2"></i> My Profile</a>

            </div>
            <div class="st-dropdown-content-group text-center" *ngIf="!isLogIn">
              <a class="regular text-light" [routerLink]="'auth/login'" ><i class="fas fa-sign-in-alt ms-2 mr-10 text-light"></i>Login</a>
              <a class="regular text-light" [routerLink]="'../auth/register'" ><i class="fas fa-user-plus ms-2 mr-10 text-light"></i>Register</a>

            </div>
            <!-- <div class="st-dropdown-content-group border-top bw-2"></div> -->
            <div class="st-dropdown-content-group bg-light text-light b-t text-center" *ngIf="isLogIn" (click)="showMobileMenu = !showMobileMenu">
              <a class="regular text-light" (click)="logOut()"
                ><i class="fas fa-sign-out-alt ms-2 mr-10 text-light"></i
                  >Log out </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- *ngIf="isScrolled || _router.url == '/'  -->
