<!-- <button mat-button color="primary" (click)="toggleRightSidenav()">Proof</button> -->

<div class="card card-custom">
  <div class="card-body py-0">
    <!-- <mat-sidenav-container> -->
    <div class="table-responsive">
      <table
        mat-table
        matSort
        [style.width.%]="100"
        [ngClass]="show_table ? 'show-table' : 'hide-table'"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="applicantFirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td
            mat-cell
            *matCellDef="let row"
            (click)="getAplicantProfile(row)"
            class="cursor-pointer"
          >
            {{ row.applicantFirstName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicantLastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td
            mat-cell
            *matCellDef="let row"
            (click)="getAplicantProfile(row)"
            class="cursor-pointer"
          >
            {{ row.applicantLastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicantPhoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Phone Number
          </th>
          <td mat-cell *matCellDef="let row">{{ row.applicantPhoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Applied
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.dateCreated | date: "mediumDate" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="campaignApplicationStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row"><span  class="badge rounded-pill fw-400" [ngClass]="{'bg-primary' : row.campaignApplicationStatusName == 'Approved',
        'bg-warning' : row.campaignApplicationStatusName == 'Pending',
         'bg-danger' : row.campaignApplicationStatusName == 'Declined'}">{{row.campaignApplicationStatusName}}</span></td>
    </ng-container> -->

        <!-- <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
      <td mat-cell *matCellDef="let row">
        <i class="icon bi bi-check-square text-primary fs-4 me-2" matTooltip="Accept Aplicant" (click)="acceptAplicant(row)"></i>
        <i class="icon bi bi-x-square text-danger fs-4 me-2" matTooltip="Decline Aplicant"(click)="declineAplicant(row)"></i></td>
    </ng-container> -->

        <ng-container matColumnDef="proof">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Proof</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="sidenav.toggle()">
              View
            </button>
          </td></ng-container
        >

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [ngClass]="show_table ? 'show-table' : 'hide-table'"
        [length]="totalCount"
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[10, 25, 50, 100]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
