

<div class="card card-custom">
  <div class="card-body py-0">
    <div class="table-responsive">
      <div id="post-spinner" *ngIf="show_spinner">
        <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
      </div>


      <table
      mat-table
      matSort
      [style.width.%]="100"
      [ngClass]="show_table ? 'show-table' : 'hide-table'"
      [dataSource]="dataSource">

     <ng-container matColumnDef="campaignPicture">
       <th mat-header-cell *matHeaderCellDef mat-sort-header >Picture</th>
       <td mat-cell *matCellDef="let row" class="cursor" (click)="viewCampaign(row)">
         <img style="height: 40px; width: 40px; border-radius: 50%;"
              alt=""
              [src]="row.campaignPicture"
              matTooltip="View campaign"
              matTooltipPosition="right">

        </td>
     </ng-container>

    <ng-container matColumnDef="campaignName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"
      matTooltip="View campaign"
      matTooltipPosition="left"
      >{{row.campaignName}}</td>
    </ng-container>

    <ng-container matColumnDef="campaignMerchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Merch Type</th>
        <td mat-cell *matCellDef="let row">{{row.campaignMerchName}}</td>
    </ng-container>

    <ng-container matColumnDef="campaignPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Price</th>
      <td mat-cell *matCellDef="let row">{{row.campaignPrice}} $</td>
    </ng-container>

    <ng-container matColumnDef="campaignStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row"><span  class="badge rounded-pill fw-400" [ngClass]="{'bg-primary' : row.campaignStatusName == 'Approved',
        'bg-warning' : row.campaignStatusName == 'Draft',
         'bg-danger' : row.campaignStatusName == 'Declined'}">{{row.campaignStatusName}}</span></td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
      <td mat-cell *matCellDef="let row">

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
[ngClass]="show_table ? 'show-table' : 'hide-table'"
    [length]="totalCount"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
    </div>
  </div>
</div>

