// .masonry-item { width: 200px; }

// ngx-masonry {
//   height: 1000px;
// }




.mdc-image-list__item {
  margin-bottom: 16px;
  break-inside: avoid-column;
  list-style-type: none;
  position: relative;
}

.mdc-image-list__image {
  display: block;
  height: auto;
  border-radius: 0;
  width: 100%;
}

.masonry-image-list {
    column-count: 3;
    column-gap: 16px;
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.masonry-title {
  position: absolute;
  top: 30px;
  left: 20px;
  color: white;
}
