<div class="container">
  <ngx-masonry [options]="{ gutter: 10 }">
    <ul class="mdc-image-list mdc-image-list--masonry masonry-image-list">
      <li class="mdc-image-list__item"
          *ngFor="let image of images">
          <p class="masonry-title">test</p>
          <img class="mdc-image-list__image"
                [src]="image">
      </li>
    </ul>
  </ngx-masonry>
</div>




