<main class="overflow-hidden">
  <header class="header app-landing-2-header section">
    <div class="shapes-container">
      <div
        class="shape shape-animated"
        data-aos="fade-down-right"
        data-aos-duration="1500"
        data-aos-delay="100"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="100"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-up-left"
        data-aos-duration="500"
        data-aos-delay="200"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
      ></div>
      <!-- animated shapes -->
      <div class="animation-shape shape-triangle">
        <div class="animation--rotating"></div>
      </div>
      <div class="animation-shape shape-cross">
        <div class="animation--rotating"></div>
      </div>
      <!-- static shapes -->
      <div class="static-shape shape-ring shape-ring-1">
        <div class="animation animation--rotating"></div>
      </div>
      <div class="static-shape shape-ring shape-ring-2">
        <div class="animation animation--rotating-clockwise"></div>
      </div>
      <div class="static-shape pattern-dots-1"></div>
      <div class="static-shape pattern-dots-2"></div>
      <!-- main shape -->
      <!-- <div class="static-shape background-shape-main"></div> -->
    </div>
    <div
      class="col-md-6 col-lg-7 w-100 parallax fullscreen-md justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
      style="background-image: url(../../assets/img/sunrise.jpg)"
    ></div>
  </header>


</main>

<router-outlet></router-outlet>

