<div class="container">
  <div id="post-spinner" *ngIf="showSpinner">
    <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
  </div>
  <div class="card mb-5 mb-xl-10 slide-in ng-star-inserted aplications-card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title m-0">
        <h3 class="fw-600 text-dark fs-5 m-0" *ngIf="!is_company">
          Applications
        </h3>
        <h3 class="fw-600 text-dark fs-5 m-0" *ngIf="is_company">
          My Campaigns
        </h3>
      </div>
    </div>
    <div *ngIf="!is_company">
      <div
        class="card-body p-2 p-md-4 ng-star-inserted"
        *ngIf="has_aplications"
      >
        <app-customer-table [accountId]="accountId"></app-customer-table>
      </div>
      <div
        class="card-body p-2 p-md-4 ng-star-inserted"
        *ngIf="!has_aplications"
      >
        <div class="row d-flex justify-content-between mb-7">
          <div
            class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
          >
            <i class="fas fa-tag text-muted"></i>
          </div>
          <label class="fw-400 text-center text-muted mt-2"
            >This account doesn't have any applications yet</label
          >
        </div>
      </div>
    </div>
    <div *ngIf="is_company">
      <div class="card-body p-2 p-md-4 ng-star-inserted" *ngIf="companyId">
        <app-company-aplications-table-view
          [companyId]="companyId"
        ></app-company-aplications-table-view>
      </div>
      <div class="card-body p-2 p-md-4 ng-star-inserted" *ngIf="!companyId">
        <div class="row d-flex justify-content-between mb-7">
          <div
            class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
          >
            <i class="fas fa-tag text-muted"></i>
          </div>
          <label class="fw-400 text-center text-muted mt-2"
            >This account doesn't have any applications yet</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
