<!-------- NEW DESIGN FOR CAMPAIGN CARD START----------->
<!-- <div class="promo-column mb-5">
      <div class="rounded promo-block zoom-background">
        <div
          class="absolute top right bottom left image-background cover overlay overlay-light alpha-3 w-100 h-100"
          style="background-image: url(../../../assets/img/smartphone.jpg)"
        ></div>
        <div class="content position-relative p-4">
          <h4 class="text-darker mt-0">Smartphones</h4>
          <p class="text-dark mt-0">
            Your personal smartphone are just one click away.
          </p>
          <a href="javascript:;" class="btn btn-contrast">Shop Smartphones</a>
        </div>
      </div>
    </div> -->

<!--------- NEW DESIGN FOR CAMPAIGN CART END-->

<div class="card campaign-card">
  <div id="post-spinner" *ngIf="showSpinner">
    <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
  </div>
  <mat-card-header
    class="card-header d-flex justify-content-end"
    *ngIf="is_company"
  >
    <button
      class="btn-icon"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editEvent(list)">
        <mat-icon class="me-2 fs-6 text-primary">edit</mat-icon>
        <span>Edit Event</span>
      </button>

      <button mat-menu-item (click)="deleteEvent(list.eventId)">
        <mat-icon class="me-2 fs-6 text-danger">delete</mat-icon>
        <span>Delete Event</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <div
    class="image-input image-input-outline d-flex justify-content-center mt-4"
  >
    <div
      class="image-input-wrapper w-280px h-280px"
      [style.background-image]="'url(' + list.eventPicture + ')'"
    ></div>
  </div>
  <div class="card-body name-holder">
    <h4 class="text-dark text-center fw-500">{{ list.eventName }}</h4>
    <!-- <p class="product-category text-muted font-sm mb-2">Merch type: <span class="fw-400">{{ list.campaignMerchName }}</span></p>
    <p class="product-category text-muted font-sm">Campaign price: <span class="text-primary lead fw-400">{{ list.campaignPrice }} $</span></p> -->
    <p>{{ list.eventDescription }}</p>
  </div>
  <div class="card-body d-grid">
    <button
      mat-button
      class="btn btn-light mb-2"
      [routerLink]="['/event/details', list.eventGuid]"
    >
      View Details
    </button>
  </div>
</div>
