// .row.gap-y > .col, .row.gap-y > [class*="col-"] {
//   padding-top: 0.75rem;
//   padding-bottom: 0.75rem;
// }

// .promo-column {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
// }
// @media (min-width: 992px) {
//   .col-lg-6 {
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 auto;
//     flex: 0 0 auto;
//     width: 50%;
//   }
// }

// .promo-block {
//   -webkit-box-flex: 1;
//   -ms-flex: 1 0 auto;
//   flex: 1 0 auto;
//   min-height: 260px;
// }

// .zoom-background {
//   position: relative;
//   overflow: hidden;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }
// .rounded {
//   border-radius: 0.25rem !important;
// }

// .zoom-background .image-background {
//   -webkit-transition: -webkit-transform 2s ease;
//   transition: -webkit-transform 2s ease;
//   transition: transform 2s ease;
//   transition: transform 2s ease, -webkit-transform 2s ease;
// }

// .image-background.cover {
//   background-size: cover;
// }
// .left {
//   left: 0 !important;
// }
// .bottom {
//   bottom: 0 !important;
// }
// .right {
//   right: 0 !important;
// }
// .top {
//   top: 0 !important;
// }
// .absolute {
//   position: absolute !important;
// }
// .overlay {
//   position: relative;
// }
// .image-background {
//   position: relative;
//   background-attachment: scroll;
//   background-position: center center;
//   background-repeat: no-repeat;
// }
// .h-100 {
//   height: 100% !important;
// }
// .w-100 {
//   width: 100% !important;
// }

// .overlay.overlay-light.alpha-3:after {
//   background-color: rgba(241, 244, 248, 0.3);
// }
// .overlay.overlay-light:after {
//   background-color: rgba(241, 244, 248, 0.6);
// }
// .zoom-background .overlay:after {
//   -webkit-transition: opacity 1.5s ease-out;
//   transition: opacity 1.5s ease-out;
// }
// .overlay:after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   background-color: rgba(39, 51, 62, 0.6);
//   opacity: 1;
//   z-index: 0;
// }

// .p-4 {
//   padding: 1.5rem !important;
// }

// .position-relative {
//   position: relative !important;
// }

// .text-darker {
//   color: #161c2d !important;
// }

// .mt-0 {
//   margin-top: 0 !important;
// }
// h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//   font-family: 1rem;
//   font-weight: 400;
//   color: #161c2d;
// }
// h4, .h4 {
//   font-size: calc(1.275rem + 0.3vw);
// }
// h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
//   margin-top: 0;
//   margin-bottom: 0.75rem;
//   font-family: 1rem;
//   font-weight: 400;
//   line-height: 1.2;
// }

// .btn {
//   -webkit-transition: all 0.3s ease;
//   transition: all 0.3s ease;
//   text-decoration: none;
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
//   white-space: normal;
//   line-height: 1.5;
// }

// .btn-contrast {
//   color: #161c2d;
//   background-color: #ffffff;
//   border-color: #ffffff;
// }
// .btn {
//   display: inline-block;
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
//   line-height: 1.5;
//   color: #6d768b;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   padding: 0.65rem 1.35rem;
//   font-size: 0.875rem;
//   border-radius: 0.25rem;
//   -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
// }

// .btn-contrast {
//   color: #161c2d;
//   background-color: #ffffff;
//   border-color: #ffffff;
// }

// .zoom-background {
//   position: relative;
//   overflow: hidden;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// .zoom-background:hover .image-background {
//   -webkit-transform: scale(1.3) rotate(10deg);
//   transform: scale(1.3) rotate(10deg);
// }


// NEW DESIGN FOR CAMPAIGN CARD END




.container {
  position: relative;
  top: -250px;
  z-index: 1;
  margin-bottom: 50px;
}


.campaign-card{
box-shadow: -1px 3px 10px #5f5f5f80!important;
}

.card {
border: 0;
box-shadow: 0 0 20px #4c577d26;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: 0.25rem;
margin-bottom: 30px;
}

.card-header{
  height: 50px;
  background-color: #ffffff;
  border: none;
  padding: 0px;
}


.image-input {
position: relative;
display: inline-block;
border-radius: 0.475rem;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
padding: 0px 10px;
}
.justify-content-center {
justify-content: center!important;
}
.d-flex {
display: flex!important;
}

.image-input.image-input-outline .image-input-wrapper {
border: 3px solid #fff;

}

.h-280px {
height: 280px!important;
}

.w-280px[_ngcontent-ilb-c74] {
width: 280px!important;
}

.image-input .image-input-wrapper {
width: 310px;
height: 320px;
border-radius: 0.475rem;
background-repeat: no-repeat;
background-size: cover;


}

.h-280px {
height: 280px!important;
}

.w-280px{
width: 280px!important;
}

.name-holder {
  min-height: 140px;
}


.card-body {
flex: 1 1 auto;
padding: 1rem;

}

.fw-500 {
font-weight: 500!important;
}
.text-dark {
color: #2b354f!important;
}
.text-dark {
--bs-text-opacity: 1;
color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}

.font-sm {
font-size: .875rem!important;
}

.text-muted {
color: #a1a5b7!important;
}
.text-muted {
--bs-text-opacity: 1;
color: #6c757d!important;
}
.mb-2 {
margin-bottom: 0.5rem!important;
}
p {
margin-top: 0;
margin-bottom: 1rem;
}

.font-sm {
font-size: .875rem!important;
}

.text-primary {
color: #53f!important;
}

.lead {
font-size: 1.25rem;
font-weight: 300;
}
.text-primary {
--bs-text-opacity: 1;
color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}
.lead {
font-size: 1.25rem;
font-weight: 300;
}
.card-body[_ngcontent-wxt-c81] {
flex: 1 1 auto;
padding: 1rem;
}

.d-grid {
display: grid!important;
}

.btn-light:hover{
color: #000;
background-color: #cccdce;
border-color: #cccdce;
}

.btn-primary {
color: #fff;
background-color: #0b5ed7;
border-color: #0a58ca;
}

.btn-primary:hover {
color: #fff;
background-color: #4429cc;
border-color: #4429cc;
}

.btn-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: calc(1.1em + 1.3rem + 2px);
  width: calc(1.1em + 1.3rem + 2px);
  transform: rotate(90deg);
  background-color: transparent;
  border: none;
}

.btn {
  display: inline-block;
  font-family: Poppins,sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1.35rem;
  font-size: .875rem;
  border-radius: 0.25rem;

}
.font-sm{
font-size: .875rem!important;
}

#post-spinner {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(247, 248, 250, 0.4);
z-index: 101;
display: flex;
align-items: center;
justify-content: center;


}


