

.h-250px {
  height: 250px;
}

.pointer {
  cursor: pointer;
}

.image-background {
  background-size: cover;
  background-repeat: no-repeat;
}

.m-10 {
  margin: 10px;
}

.w-150px {
  width: 150px;
}
.h-150px {
  height: 150px;
}

.modal-popup {
  display: flex;
    margin-top: 34px;
    justify-content: center;
}

.image-input {
  margin: 0 15px;
}

