<section class="section block bg-contrast">
  <mat-icon class="pointer" (click)="sidenav.close()">close</mat-icon>
  <div class="container py-4">
    <div class="section-heading text-center">
      <h2 class="bold">Participant proof gallery</h2>
      <!-- <p class="lead italic">
        You may put any HTML content in each gallery item and mix content types.
        In this example lazy-loading of images is enabled for the next image
        based on move direction.
      </p> -->
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <div
          class="modal-popup popup-gallery grid-of-images"
          data-type="gallery"
          data-zoom="300"
        >
          <div class="image-input image-input-outline" >
            <div
              class="image-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer bg-body shadow"
              [style.background-image]="'url(' + +')'"
            ></div>
          </div>

          <div class="image-input image-input-outline">
            <div
              class="image-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer bg-body shadow"
              [style.background-image]="'url(' + +')'"
            ></div>
          </div>

          <div class="image-input image-input-outline">
            <div
              class="image-input-wrapper w-150px h-150px d-flex flex-column justify-content-center cursor-pointer bg-body shadow"
              [style.background-image]="'url(' + +')'"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container py-4">
  <div class="section-heading text-center">
    <h2 class="bold">Participant proof videos</h2>
    <!-- <p class="lead italic">Target any video from youtube</p> -->
  </div>
  <div class="row gap-y">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card h-250px shadow-box shadow-hover border-0">
        <a
          href="https://www.youtube.com/watch?v=EykWcFEtFqo"
          class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover"
          style="
            background-image: url(https://picsum.photos/350/200/?random&amp;gravity=south);
          "
          data-effect="mfp-fade"
          data-type="iframe"
        >
          <div class="content text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="250"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-play stroke-contrast"
              with="36"
            >
              <polygon points="5 3 19 12 5 21 5 3"></polygon>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card h-250px shadow-box shadow-hover border-0">
        <a
          href="https://www.youtube.com/watch?v=MXghcI8hcWU"
          class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover"
          style="
            background-image: url(https://picsum.photos/350/200/?random&amp;gravity=east);
          "
          data-effect="mfp-fade"
          data-type="iframe"
        >
          <div class="content text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="250"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-play stroke-contrast"
              with="36"
            >
              <polygon points="5 3 19 12 5 21 5 3"></polygon>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card h-250px shadow-box shadow-hover border-0">
        <a
          href="https://www.youtube.com/watch?v=HLG_s9b2Uuw"
          class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover"
          style="
            background-image: url(https://picsum.photos/350/200/?random&amp;gravity=north);
          "
          data-effect="mfp-fade"
          data-type="iframe"
        >
          <div class="content text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="250"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-play stroke-contrast"
              with="36"
            >
              <polygon points="5 3 19 12 5 21 5 3"></polygon>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
