@import '../../../../assets/styles/auth.scss';

.card {
  border: 0;
  box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f5;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 2.25rem;
  background-color: transparent;
  border-bottom: 1px solid #eff2f5;
}

.card-header:first-child {
  border-radius: calc(0.475rem - 1px) calc(0.475rem - 1px) 0 0;
}

.cursor-pointer {
  cursor: pointer;
}

.border-0 {
  border-width: 0!important;
}

.border-0 {
  border: 0!important;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eff2f5;
}

.card .card-header .card-title, .card .card-header .card-title .card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181c32;
}

.card .card-header .card-title {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
}

.m-0 {
  margin: 0!important;
}

.card-title {
  margin-bottom: 0.5rem;
}

.fw-bolder {
  font-weight: 600!important;
}

.h3, h3 {
  font-size: calc(1.26rem + .12vw);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #181c32;
}

form {
  display: block;
  margin-top: 0em;
}

.card .card-body {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem!important;
}

.border-top {
  border-top: 1px solid #eff2f5!important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem!important;
}


.fw-bold {
  font-weight: 500!important;
}

.fs-6 {
  font-size: 1.075rem!important;
}

.col-form-label {
  padding-top: calc(0.75rem + 1px);
  padding-bottom: calc(0.75rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: #3f4254;
}

label {
  display: inline-block;
}

.image-input:not(.image-input-empty) {
  background-image: none!important;
}

.image-input {
  position: relative;
  display: inline-block;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid #fff;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
}

.image-input .image-input-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-125px {
  height: 125px!important;
}

.w-125px {
  width: 125px!important;
}

// .btn.btn-icon.btn-circle {
//   border-radius: 50%;
// }

.image-input [data-kt-image-input-action=change] {
  left: 100%;
  top: 0;
}

.image-input [data-kt-image-input-action] {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%,-50%);
}

.bg-body {
  --bg-color: 255,255,255;
  background-color: #fff;
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
}

.h-25px {
  height: 25px!important;
}

.w-25px {
  width: 25px!important;
}

.shadow {
  box-shadow: 0 .5rem 1.5rem .5rem rgba(0,0,0,.075)!important;
}


.fs-7 {
  font-size: .95rem!important;
}

i {
  line-height: 1;
  font-size: 1rem;
  color: #a1a5b7;
}


.image-input [data-kt-image-input-action=cancel] {
  display: none;
}

.image-input [data-kt-image-input-action=cancel], .image-input [data-kt-image-input-action=remove] {
  position: absolute;
  left: 100%;
  top: 100%;
}

.image-input [data-kt-image-input-action] {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%,-50%);
}

.bg-body {
  --bg-color: 255,255,255;
  background-color: #fff;
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
}

.h-25px {
  height: 25px!important;
}

.w-25px {
  width: 25px!important;
}

.shadow {
  box-shadow: 0 .5rem 1.5rem .5rem rgba(0,0,0,.075)!important;
}


.fs-2 {
  font-size: calc(1.275rem + .3vw)!important;
}

i {
  line-height: 1;
  font-size: 1rem;
  color: #a1a5b7;
}


.image-input [data-kt-image-input-action=cancel], .image-input [data-kt-image-input-action=remove] {
  position: absolute;
  left: 100%;
  top: 100%;
}
.image-input [data-kt-image-input-action] {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%,-50%);
}

.bg-body {
  --bg-color: 255,255,255;
  background-color: #fff;
}
.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
}
.h-25px {
  height: 25px!important;
}
.w-25px {
  width: 25px!important;
}
.shadow {
  box-shadow: 0 .5rem 1.5rem .5rem rgba(0,0,0,.075)!important;
}

.fs-2 {
  font-size: calc(1.275rem + .3vw)!important;
}
i {
  line-height: 1;
  font-size: 1rem;
  color: #a1a5b7;
}

.form-text {
  margin-top: 0.5rem;
  font-size: .925rem;
  color: #a1a5b7;
}

.bi-x::before {
  content: "\f62a";
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons!important;
  font-style: normal;
  font-weight: 400!important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card .card-footer {
  padding: 2rem 2.25rem;
  background-color: transparent;
  border-top: 1px solid #eff2f5;
}

.bg-secondary {
  color: white;
  width: 100px;
}

.btn-primary {
  width: 100px;
  position: absolute;
    right: 35px;
}

.container {
  position: relative;
  top: -350px;
}
