<div class="container shadow">
  <div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Company Details</h3>
      </div>
    </div>
    <div id="kt_account_settings_profile_details" class="collapse show">
      <form
        id="kt_account_profile_details_form"
        action=""
        class="form fv-plugins-bootstrap5 fv-plugins-framework"
        [formGroup]="companyFormGroup"
      >
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label fw-bold fs-6"
              >Avatar</label
            >
            <div class="col-lg-8">
              <div
                class="image-input image-input-outline"
                data-kt-image-input="true"
              >
                <div
                  class="image-input-wrapper w-125px h-125px"
                  [style.background-image]="
                    'url(' +
                    this.companyFormGroup.get('companyLogo').value +
                    ')'
                  "
                ></div>

                <label
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="change"
                  data-bs-toggle="tooltip"
                  title=""
                  data-bs-original-title="Change avatar"
                >
                  <i
                    class="fas fa-pencil-alt"
                    (click)="imgFileInput.click()"
                  ></i>
                </label>
                <input
                  type="file"
                  accept="image/*"
                  class="d-none"
                  #imgFileInput
                  name=""
                  id=""
                  (change)="uploadImage($event)"
                />

                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="cancel"
                  data-bs-toggle="tooltip"
                  title=""
                  data-bs-original-title="Cancel avatar"
                >
                  <i class="bi bi-x fs-2"></i>
                </span>
              </div>

              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
            </div>
          </div>

          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6"
              >Company Name</label
            >
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Company Name"
                  formControlName="companyName"
                  matInput
                  type="text"
                />
                <i class="icon fas fa-building"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6"
              >Company Email</label
            >
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Company Email"
                  formControlName="companyEmail"
                  matInput
                  type="text"
                />
                <i class="icon fas fa-envelope"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6"
              >Company Address</label
            >
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Company Address"
                  formControlName="companyAddress"
                  matInput
                  type="text"
                />
                <i class="icon fas fa-location-arrow"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-6">
            <label for="" class="col-lg-4 col-form-label required fw-bold fs-6"
              >Company Phone</label
            >
            <div class="col-lg-8 fv-row fv-plugins-icon-container">
              <div class="form-group has-icon">
                <input
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Company Phone"
                  formControlName="companyPhoneNumber"
                  matInput
                  type="text"
                />
                <i class="icon fas fa-phone"></i>
              </div>
              <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        class="btn bg-secondary btn-rounded ms-auto bold"
        [routerLink]="'../overview'"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary btn-rounded ms-auto bold"
        (click)="updateAccount()"
        [disabled]="companyFormGroup.invalid"
      >
        Update
      </button>
    </div>
  </div>
</div>
