<div class="container d-flex-center">
  <h1>Create Account</h1>

  <div class="form-wrapper ">
    <form class="form cozy"   data-validate-on="submit" novalidate [formGroup]="customerFormGroup">
      <div class="form-group">
        <label class="lbl-class">Location</label>
        <input type="text" class="form-control form-control-rounded" placeholder="Enter your Location" required
          formControlName="location" />
      </div>
      <div class="form-group">
        <label class="lbl-class">Profile Picture</label>
        <input type="text" class="form-control form-control-rounded" placeholder="Enter Profile Picture" required
          formControlName="profilePicture" />
      </div>

      <div class="form-group d-flex align-items-center justify-content-between">
        <div class="ajax-button">
          <button type="submit" class="btn btn-primary btn-rounded" (click)="updateAccount()">
            Save <i class="fas fa-long-arrow-alt-right ms-2"></i>
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
