@import '../../../../assets/styles/auth.scss';




.fa-long-arrow-alt-right:before {
  content: "\f30b"; }
.justify-content-between {
      -webkit-box-pack: justify !important;
          -ms-flex-pack: justify !important;
              justify-content: space-between !important;
    }

    .align-items-center {
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
    }


    .justify-content-center {
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
    }
.inner-overlay {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.inner-overlay.gradient {
  background-image: linear-gradient(-48deg, #cd92ff 25%, #00a0e0 100%);
}

.zoom-image {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.zoom-image img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.zoom-image.overlay:after {
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
}

.zoom-image:hover.overlay:after {
  opacity: 0;
}
.btn-check:focus + .btn-outline-contrast, .btn-outline-contrast:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.btn-check:checked + .btn-outline-contrast,
.btn-check:active + .btn-outline-contrast, .btn-outline-contrast:active, .btn-outline-contrast.active, .btn-outline-contrast.dropdown-toggle.show {
  color: #161c2d;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-check:checked + .btn-outline-contrast:focus,
.btn-check:active + .btn-outline-contrast:focus, .btn-outline-contrast:active:focus, .btn-outline-contrast.active:focus, .btn-outline-contrast.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.btn-outline-contrast:disabled, .btn-outline-contrast.disabled {
  color: #ffffff;
  background-color: transparent;
}

.fa-user-plus:before {
  content: "\f234";
  color: #6d768b
}

.fa-address-card:before {
    content: "\f2bb";
    color: #6d768b }

    .fa-lock:before {
      content: "\f023";
      color: #6d768b }


      .zoom-background .image-background {
        -webkit-transition: -webkit-transform 2s ease;
        transition: -webkit-transform 2s ease;
        transition: transform 2s ease;
        transition: transform 2s ease, -webkit-transform 2s ease;
      }

      .zoom-background:hover .image-background {
        -webkit-transform: scale(1.3) rotate(10deg);
                transform: scale(1.3) rotate(10deg);
      }

      .zoom-background:hover .image-background {
        -webkit-transform: scale(1.3) rotate(10deg);
                transform: scale(1.3) rotate(10deg);
      }
header .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
}
.blockquote-footer::before {
  content: "\2014\00A0";
}

.label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #ffffff;
  background-color: #482bd9;
  border-color: #4429cc;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(111, 82, 255, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(111, 82, 255, 0.5);
}

.overlay.overlay-primary.alpha-8:after {
  background-color: rgba(85, 51, 255, 0.6);
}

.overlay.overlay-primary:after {
  background-color: rgba(85, 51, 255, 0.6);

}


.ms-auto {
  margin-left: auto !important;
}
.text-primary {
  text-decoration: none;
}

.text-secondary  {
  a {
    text-decoration: none;
  }

}
::ng-deep mat-select {
  background-color: #ffffff !important;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}
form .form-group.has-icon .form-control,
.form .form-group.has-icon .form-control {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control[type="file"] {
  overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not(:-moz-read-only) {
  cursor: pointer;
}

.form-control[type="file"]:not(:disabled):not(:read-only) {
  cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}
.lbl-class{
  margin-bottom: 10px;
}
.form-wrapper {
  width: 700px;
}

.btn-logout {
  position: absolute;
  right: 10px;
  top: 100px;
}

#wrong-password {
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 7px;
  padding: 0;

}

#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 2.25rem;
  background-color: transparent;
  border-bottom: 1px solid #eff2f5;
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.25rem !important;
}

}



.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
}

.form-label {
  font-weight: bold;
  color: #2b354f;
  font-size: 0.925rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f5;
  border-radius: 0.475rem !important;
  box-shadow: 0 0 20px #4c577d26 !important;
}

.container {
  position: relative;
  top: -350px;
  z-index: 1;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}




