<div class="container">

  <div class="card mb-5 mb-xl-10 mt-5 slide-in" id="kt_profile_details_view">

    <div class="card-header cursor-pointer  d-flex justify-content-between align-items-center">

      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Security</h3>
      </div>

    </div>

    <div class="card-body p-9">

      <div class="row">
        <div class="col-10 col-md-6 col-lg-4 m-5">
          <form
                  class="form cozy mt-5 \"
                  action="srv/login.php"
                  data-validate-on="submit"
                  novalidate
                  [formGroup]="editPasswordFormGroup"
                >
                <label class="form-label">Old Password</label>
                <span id="wrong-password">
                  Invalid password, please try again. </span
                >

                  <div class="form-group has-icon">

                    <input

                    id="old_password"
                    class="form-control form-control-rounded"
                    placeholder="Old Password"
                    formControlName="oldPassword"
                    matInput
                    [type]="new_password ? 'text' : 'password'"

                    autocomplete="new-password"
                  />

                  <i class="icon fas"   [ngClass]=" new_password ? 'fa-eye' : 'fa-eye-slash'"
                  (click)="new_password = !new_password"></i>
                  </div>

                  <label class="form-label">New Password</label>
                  <div class="form-group has-icon">
                    <input

                    id="new_password"
                    class="form-control form-control-rounded"
                    placeholder="New Password"
                    formControlName="newPassword"
                    matInput
                    [type]="re_enter_password ? 'text' : 'password'"

                    autocomplete="new-password"
                  />

                  <i class="icon fas"   [ngClass]="{
                    'fa-eye-slash': !re_enter_password,
                    'fa-eye': re_enter_password
                  }" (click)="re_enter_password = !re_enter_password"></i>
                  </div>

                  <label class="form-label">Re-enter New Password</label>
                  <div class="form-group has-icon">
                    <input

                    id="new_password"
                    class="form-control form-control-rounded"
                    placeholder="Re-enter New Password"
                    formControlName="newPassword"
                    matInput
                    [type]="re_enter_password ? 'text' : 'password'"

                    autocomplete="new-password"
                  />

                  <i class="icon fas"   [ngClass]="{
                    'fa-eye-slash': !re_enter_password,
                    'fa-eye': re_enter_password
                  }" (click)="re_enter_password = !re_enter_password"></i>
                  </div>



                  <div
                    class="form-group d-flex align-items-center justify-content-between"
                  >
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded ms-auto bold"
                      (click)="newPassword()"

                    >
                      Update <i class="fas fa-long-arrow-alt-right ms-2"></i>
                    </button>

                  </div>
                </form>
              </div>
      </div>

    </div>

  </div>

</div>




