@import '../../../assets/styles/auth.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}

.aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

.slide-up{
  animation: slide-up .3s linear;
}

.header .container {
  position: relative;
  margin: 0 auto;

}


.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.slide-up {
  animation: slide-up .7s linear;
}
@media (min-width: 768px) {
  .section-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.section-container {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
}

.pt-0 {
  padding-top: 0!important;
}

.card {
  border: 0;
  box-shadow: 0 0 20px #4c577d26;
}

.mb-5 {
  margin-bottom: 3rem!important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

@media (min-width: 1200px) {
  .fs-3 {
    font-size: 1.75rem!important;
}

}

.pb-9 {
  padding-bottom: 2.25rem!important;
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 3rem!important;
}
}


.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

@media (min-width: 576px) {
  .flex-sm-nowrap {
    flex-wrap: nowrap!important;
}

}

@media (min-width: 768px) {
  .me-md-5 {
    margin-right: 3rem!important;
}
}

.image-input {
  position: relative;
  display: inline-block;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid #fff;
  box-shadow: 0 0.1rem 1rem 0.25rem #00000026;
}


.image-input .image-input-wrapper {
  width: 310px;
  height: 320px;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.h-280px {
  height: 280px!important;
}


.w-280px {
  width: 280px!important;
}

@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0!important;
}
}


.mt-4 {
    margin-top: 1.5rem!important;
}
.flex-grow-1 {
    flex-grow: 1!important;
}

.mb-2 {
  margin-bottom: 0.5rem!important;
}

.align-items-start {
  align-items: flex-start!important;
}
.justify-content-between {
  justify-content: space-between!important;
}
.flex-wrap {
  flex-wrap: wrap!important;
}
.d-flex {
  display: flex!important;
}

.flex-column {
  flex-direction: column!important;
}

.d-flex {
  display: flex!important;
}

.text-darker {
  color: #161c2d!important;
}
@media (min-width: 1200px) {
  .fs-3 {
    font-size: 1.75rem!important;
  }
}

.fw-bold {
  font-weight: 700!important;
}
.fs-3 {
  font-size: calc(1.3rem + .6vw)!important;
}
.me-4 {
  margin-right: 1.5rem!important;
}

.text-muted {
  color: #a1a5b7!important;
}

// .text-muted {
//   --bs-text-opacity: 1;
//   color: #6c757d!important;
// }
.me-2 {
  margin-right: 0.5rem!important;
}

.card-header:first-child {
  border-radius: calc(0.475rem - 1px) calc(0.475rem - 1px) 0 0;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 2.25rem;
  background-color: transparent;
  border-bottom: 1px solid #eff2f5;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eff2f5;
}

.card .card-header .card-title{
  font-weight: 500;
  font-size: 1.275rem;
  color: #181c32;
}

.card .card-header .card-title {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
}
.m-0 {
  margin: 0!important;
}
.card-title {
  margin-bottom: 0.5rem;
}

.fw-600 {
  font-weight: 600!important;
}

.text-dark {
  color: #2b354f!important;
}
.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}
.fs-5 {
  font-size: 1.25rem!important;
}





