<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container section-container pt-0 aos-init aos-animate slide-up ng-star-inserted" style="background-color: transparent; position: relative; top: -330px; margin-bottom: -330px; z-index: 1;">

  <div class="container-fluid pb-9">
    <div class="row d-flex align-items-start">
      <div class="col-12 col-lg-6">
        <h4 class="text-white fw-500 fs-3">Company Details</h4>
      </div>
    </div>
  </div>

  <div class="container flex-row-fluid">
    <div class="card mb-5 mb-xl-10">
      <div  class="card-body p-md-5">
      <div class="d-flex flex-wrap flex-sm-nowrap justify-content-center">
        <div class="me-md-5">
          <div class="image-input image-input-outline d-flex justify-content-center">
            <img class="image-input-wrapper w-280px h-280px" [style.background-image]="'url(' + companyDetails.companyLogo + ')'" [src]="
            companyDetails.companyLogo
              ? companyDetails.companyLogo
              : 'https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg'
          ">


          </div>
        </div>
        <div class="flex-grow-1 mt-4 mt-md-0">
          <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <span  class="text-darker fs-3 fw-bold me-4">{{companyDetails.companyName}}</span>
              </div>
              <div class="d-flex flex-column fw-400 mb-4 pe-2">
                <span class="mt-2 text-muted"><i class="bi bi-geo-alt-fill text-muted me-2"></i>{{companyDetails.companyAddress}} </span>
                <span class="mt-2 text-muted"><i class="bi bi-telephone-fill text-muted me-2"></i>{{companyDetails.companyPhoneNumber}}</span>
                <span class="mt-2 text-muted"><i class="bi bi-envelope-fill text-muted me-2"></i>{{companyDetails.companyEmail}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="card mb-5 mb-xl-10 slide-in">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-title m-0">
          <h3 class="fw-600 text-dark fs-5 m-0">Campaigns</h3>
        </div>
      </div>
      <div class="card-body p-2 p-md-4 ng-star-inserted">
        <div *ngIf="companyId">
          <app-company-aplications-table-view [companyId]="companyId"></app-company-aplications-table-view>
        </div>

      </div>
    </div>
  </div>



</div>

