@import '../../../assets/styles/auth.scss';

.btn-primary:hover {
  color: #ffffff;
  background-color: #482bd9;
  border-color: #4429cc;

}
.btn-primary {
  height: 45px;
  width: 100px;

}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1260px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

@media (max-width: 767px) {
  .text-secondary {
    margin-bottom: 0 !important;
  }

}

.form-label {
  margin-bottom: 0.5rem;
}
select[multiple].form-control.form-control-rounded,
textarea.form-control.form-control-rounded {
  padding-left: 1rem;
  border-radius: 1rem;
}

.ajax-button {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ajax-button .btn-status {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s

  ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.ajax-button .loading {
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: transparent !important;
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.ajax-button .loading.btn-primary {
  border-top: 1px solid #5533ff;
  border-right: 1px solid #5533ff;
}

.ajax-button .loading.btn-secondary {
  border-top: 1px solid #506690;
  border-right: 1px solid #506690;
}

.ajax-button .loading.btn-success {
  border-top: 1px solid #00c9b7;
  border-right: 1px solid #00c9b7;
}

.ajax-button .loading.btn-info {
  border-top: 1px solid #00a0e0;
  border-right: 1px solid #00a0e0;
}

.ajax-button .loading.btn-warning {
  border-top: 1px solid #feb868;
  border-right: 1px solid #feb868;
}

.ajax-button .loading.btn-danger {
  border-top: 1px solid #c1002b;
  border-right: 1px solid #c1002b;
}

.ajax-button .loading.btn-light {
  border-top: 1px solid #f1f4f8;
  border-right: 1px solid #f1f4f8;
}

.ajax-button .loading.btn-dark {
  border-top: 1px solid #2b354f;
  border-right: 1px solid #2b354f;
}

.ajax-button .loading.btn-gray {
  border-top: 1px solid #869ab8;
  border-right: 1px solid #869ab8;
}

.ajax-button .loading.btn-gray-light {
  border-top: 1px solid #c6d3e6;
  border-right: 1px solid #c6d3e6;
}

.ajax-button .loading.btn-alternate {
  border-top: 1px solid #fc9e21;
  border-right: 1px solid #fc9e21;
}

.ajax-button .loading.btn-contrast {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.ajax-button .loading.btn-darker {
  border-top: 1px solid #161c2d;
  border-right: 1px solid #161c2d;
}

.ajax-button .loading.btn-black {
  border-top: 1px solid #161c2d;
  border-right: 1px solid #161c2d;
}

.ajax-button .loading.loading-end {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0) !important;
  transform: rotate(0deg) scale(0) !important;
}

.ajax-button .done {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
}

.form-label {
  font-weight: 700;
  color: #2b354f;
  font-size: 0.925rem;
}

.mt-md-6 {
  margin-top: 6rem !important;
}

.w-25 {
  width: 25% !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mb-md-6 {
  margin-bottom: 4rem !important;
}


.fa-lock:before {
      content: "\f023";
      color: #6d768b;
    }
.test{
      display: flex;
      justify-content: end;
    }

#wrong-password {
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 7px;
  padding: 0;

}

#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  width: 60px;
}

