<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<main>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div
        class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
        style="
          background-image: url(https://picsum.photos/1920/1200/?random&gravity=south);
        "
      >
        <div class="content">
          <h2
            class="display-4 display-md-3 display-lg-2 text-contrast mt-5 mt-md-0"
          >
            Welcome to <span class="bold d-block">Dashcore</span>
          </h2>
          <p class="lead text-contrast">Login to your account</p>
          <hr class="mt-md-6 w-25" />
        </div>
      </div>
      <div class="col-md-5 col-lg-4 mx-auto">
        <div class="login-form mt-5 mt-md-0">
          <img
            src="../../../assets/img/icon.png"
            class="logo img-responsive mb-2"
            alt=""
          />
          <h1 class="text-darker bold">Login</h1>
          <p class="text-secondary mt-0 mb-4 mb-md-6">
            Don't have an account yet?
            <a [routerLink]="'../register'" class="text-primary bold"
              >Create it here</a
            >
          </p>
          <form
            class="form cozy"
            action="srv/login.php"
            data-validate-on="submit"
            novalidate
            [formGroup]="loginFormGroup"
          >
            <span id="alert-message">
              This email address is not valid. Please enter a registered email
              address.</span
            >

            <div class="form-group has-icon">
              <input
                type="text"
                id="login_username"
                name="Login[username]"
                class="form-control form-control-rounded"
                placeholder="Your registered email"
                required
                formControlName="email"
                (focusout)="checkEmail($event)"
                [ngClass]="isEmailValid ? '' : 'is-invalid'"
              />
              <i class="icon fas fa-user"></i>
            </div>

            <span id="wrong-password">
              Invalid password, please try again. </span
            >

            <div class="form-group has-icon">
              <input
              [type]="!fieldTextType ? 'text' : 'password'"
                id="login_password"
                name="Login[password]"
                class="form-control form-control-rounded"
                placeholder="Your password"
                required
                formControlName="password"
                (focusout)="checkEmail($event)"
                [ngClass]="wrongPassword ? '' : 'wrong-password'"
              />

              <i class="icon fas"   [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }" (click)="toggleFieldTextType()"></i>

            </div>
            <div
              class="form-group d-flex align-items-center justify-content-between"
            >
              <a [routerLink]="'../forgot-password'" class="text-dark small"
                >Forgot your password?</a
              >
              <div class="ajax-button">
                <div class="fas fa-check btn-status text-success success"></div>
                <div class="fas fa-times btn-status text-danger failed"></div>
                <button
                  type="submit"
                  class="btn btn-primary btn-rounded"
                  (click)="loginAccount()"
                  [disabled]="loginFormGroup.invalid"
                >
                  Login <i class="fas fa-long-arrow-alt-right ms-2"></i>
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
