<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>
<main class="overflow-hidden">
  <header class="header app-landing-2-header section">
    <div class="shapes-container">
      <!-- diagonal shapes -->

      <!-- animated shapes -->
      <div class="animation-shape shape-triangle">
        <div class="animation--rotating"></div>
      </div>
      <div class="animation-shape shape-cross">
        <div class="animation--rotating"></div>
      </div>
      <!-- static shapes -->
      <div class="static-shape shape-ring shape-ring-1">
        <div class="animation animation--rotating"></div>
      </div>
      <div class="static-shape shape-ring shape-ring-2">
        <div class="animation animation--rotating-clockwise"></div>
      </div>
      <div class="static-shape pattern-dots-1"></div>
      <div class="static-shape pattern-dots-2"></div>
      <!-- main shape -->
    </div>

    <div class="backround-img">
      <div
        class="col-md-6 col-lg-7 w-100 fullscreen-md justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
        style="background-image: url(../../assets/img/sunrise.jpg)"
      ></div>
    </div>
  </header>
</main>
<div class="container" *ngIf="is_loaded">
  <h2 class="title-details">Customer Details</h2>
  <div class="card card-body p-md-5">
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-center">
      <div class="me-md-5">
        <div
          class="image-input image-input-outline d-flex justify-content-center"
        >
          <img
            class="image-input-wrapper w-280px h-280px"
            style="background-image: url('')"
            [src]="activeCustomerDetails.customerProfilePicture"
            [src]="
              activeCustomerDetails.customerProfilePicture
                ? activeCustomerDetails.customerProfilePicture
                : 'https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg'
            "
          />
        </div>
      </div>
      <div class="flex-grow-1 mt-4 mt-md-0">
        <div
          class="d-flex justify-content-between align-items-start flex-wrap mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <span class="text-darker fs-3 fw-bold me-4"
                >{{ activeCustomerDetails.customerFirstName }}
                {{ activeCustomerDetails.customerLastName }}</span
              >
            </div>
            <div class="d-flex flex-column fw-400 mb-4 pe-2">
              <span class="d-flex align-items-center">
                <i class="bi bi-envelope text-muted fs-4 me-2"></i
                >{{ activeCustomerDetails.customerEmail }}</span
              >
              <span class="d-flex align-items-center">
                <i class="bi bi-geo-alt-fill text-muted fs-4 me-2"></i
                >{{ activeCustomerDetails.customerLocation }}</span
              >
              <span class="d-flex align-items-center"
                ><i class="bi bi-telephone-fill text-muted fs-4 me-2"></i
                >{{ activeCustomerDetails.customerPhoneNumber }}</span
              >
              <span class="d-flex align-items-center">
                <i
                  class="text-muted fs-4 me-2"
                  [ngClass]="{
                    'bi bi-gender-male':
                      activeCustomerDetails.customerGenderName == 'Male',
                    'bi bi-gender-female':
                      activeCustomerDetails.customerGenderName == 'Female'
                  }"
                ></i
                >{{ activeCustomerDetails.customerGenderName }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5 mb-xl-10 slide-in ng-star-inserted aplications-card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="card-title m-0">
          <h3 class="fw-600 text-dark fs-5 m-0">Campaigns</h3>
        </div>
      </div>
      <div
        class="card-body p-2 p-md-4 ng-star-inserted"
        *ngIf="has_aplications"
      >
        <app-customer-table [accountId]="accountId"></app-customer-table>
        <!-- <app-campaign-aplication-details-t-v></app-campaign-aplication-details-t-v> -->
      </div>
    </div>
    <!-- <div class="card-body p-2 p-md-4 ng-star-inserted" *ngIf="has_aplications">
      <app-customer-table [accountId]="accountId"></app-customer-table>
    </div> -->
    <div class="card-body p-2 p-md-4 ng-star-inserted" *ngIf="!has_aplications">
      <div class="row d-flex justify-content-between mb-7">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
        >
          <i class="fas fa-tag text-muted"></i>
        </div>
        <label class="fw-400 text-center text-muted mt-2"
          >This profile doesn't have any campaign yet</label
        >
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
