@import '../../../assets/styles/auth.scss';
@import '../../../assets/styles/shapes.scss';
@import '../../../assets/styles/lan-shapes.scss';

.app-landing-2-header .animation-shape.shape-triangle {
  top: 60% !important;
  left: 0;
  z-index: 1;
  animation-duration: 12s;
}



.card {
  border: 0;
  box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f5;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px #4c577d26;
}

.container {
  position: relative;
  top: -350px;
  z-index: 1;
}


  .fullscreen-md {
    min-height: 70vh !important;
  }


.card .card-body {
  padding: 2rem 2.25rem;
}


@media (min-width: 576px) {
.flex-sm-nowrap {
    flex-wrap: nowrap!important;
}
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1150px;
}
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
}
}

@media (max-width: 380px) {
  // .card-header .card-title  h3 {
  //   font-size:  15px !important;
  // }

.card .card-body {
  padding: 1rem 1.25rem;
}
.title-holder {
  margin-left: 0 !important;
}

.holder {

  margin-left: 0 !important;
}

.card .card-header {
  padding: 0;
}
}


.fs-13 {
  font-size: 13px!important;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.position-relative {
  position: relative!important;
}

.symbol.symbol-100px.symbol-fixed>img {
  width: 160px;
  height: 160px;
  max-width: auto;
}

.symbol.symbol-100px>img {
  width: 100px;
  height: 100px;
}

.symbol.symbol-fixed>img {
  width: 50px;
  height: 50px;
  max-width: auto;
}

.symbol>img {
  width: 50px;
  height: 50px;
}

.symbol>img {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 0.475rem;
}

img, svg {
  vertical-align: middle;
}

.flex-column {
  flex-direction: column!important;
}

.text-gray-900 {
  color: #181c32!important;
}

.text-hover-primary {
  transition: color .2s ease,background-color .2s ease;
}

.fw-bolder {
  font-weight: 600!important;
}

.fs-2 {
  font-size: calc(1.275rem + .3vw)!important;
}

a {
  transition: color .2s ease,background-color .2s ease;
}

a {
  color: #009ef7;
  text-decoration: none;
}

.btn-group-sm>.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon), .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm {
  padding: calc(0.55rem + 1px) calc(1.25rem + 1px);
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
  border: 0;
  padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
  box-shadow: none!important;
}

.fw-bold {
  font-weight: 500!important;
}

.text-gray-400 {
  color: #b5b5c3!important;
}

.text-hover-primary {
  transition: color .2s ease,background-color .2s ease;
}

a {
  color: #009ef7;
  text-decoration: none;
}

.svg-icon {
  line-height: 1;
}

.svg-icon.svg-icon-4 svg {
  height: 1.25rem!important;
  width: 1.25rem!important;
}

.svg-icon svg {
  height: 1.15rem;
  width: 1.15rem;
}

img, svg {
  vertical-align: middle;
}

.svg-icon svg [fill]:not(.permanent):not(g) {
  transition: fill .3s ease;
  fill: #a1a5b7;
}

.nav-line-tabs.nav-line-tabs-2x {
  border-bottom-width: 2px;
}

.nav-stretch {
  align-items: stretch;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-line-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eff2f5;
}

.border-transparent {
  border-color: transparent!important;
}

.fw-bolder {
  font-weight: 600!important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 2rem;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item {
  margin-bottom: -2px;
}

.nav-stretch .nav-item {
  display: flex;
  align-items: stretch;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-line-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link {
  border-bottom-width: 2px;
}

.nav-line-tabs .nav-item .nav-link {
  color: #a1a5b7;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: color .2s ease,background-color .2s ease;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

.nav-stretch .nav-link {
  display: flex;
  align-items: center;
}

.text-active-primary {
  transition: color .2s ease,background-color .2s ease;
}

.nav-stretch {
  align-items: stretch;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-line-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eff2f5;
}

.border-transparent {
  border-color: transparent!important;
}

.fw-bolder {
  font-weight: 600!important;
}

.fs-5 {
  font-size: 1.15rem!important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-stretch .nav-item {
  display: flex;
  align-items: stretch;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-line-tabs .nav-item {
  margin-bottom: -1px;
}

.mt-2 {
  margin-top: 0.5rem!important;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item {
  margin-bottom: -2px;
}

.nav-stretch .nav-item {
  display: flex;
  align-items: stretch;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-line-tabs .nav-item {
  margin-bottom: -1px;
}

.mt-2 {
  margin-top: 0.5rem!important;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active, .nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs.nav-line-tabs-2x .nav-item.show .nav-link {
  border-bottom-width: 2px;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link {
  border-bottom-width: 2px;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #009ef7;
  transition: color .3s ease,background-color .3s ease;
}

.nav-line-tabs .nav-item .nav-link {
  color: #a1a5b7;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: color .2s ease,background-color .2s ease;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

.nav-stretch .nav-link {
  display: flex;
  align-items: center;
}

.text-active-primary.active {
  transition: color .2s ease,background-color .2s ease;
  color: #009ef7!important;
}

.text-active-primary {
  transition: color .2s ease,background-color .2s ease;
}

.py-5 {
  padding-top: 1.25rem!important;
  padding-bottom: 1.25rem!important;
}

.ms-0 {
  margin-left: 0!important;
}

.me-10 {
  margin-right: 2.5rem!important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #009ef7;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

// .holder {
//   margin-left: 30px;
// }

.me-7 {
  margin-right: 1.75rem!important;
}
.text-gray-900 {
  color: #181c32!important;
}

.text-hover-primary {
  transition: color .2s ease,background-color .2s ease;
}

.fw-bolder {
  font-weight: 600!important;
}

// .title-holder {
//   margin-left: 30px;
// }

.cursor-pointer {
  cursor: pointer;
}

// .image-background {
//   height: 70vh!important;
// }

.title-overview {
  color: white;
  font-weight: bold;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}


.slide-up{
  animation: slide-up .3s linear;
}

.slide-in{
  animation: slide-in .3s linear;
}

.slide-in[_ngcontent-qmo-c117]{animation:slide-in .3s linear}@keyframes slide-in{0%{transform:translate(-100%)}to{transform:translate(0)}}

.slide-left{
  animation: slide-in .3s linear;
}



.slide-up {
  animation:slide-up .3s linear
}






@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }

  to{
    transform:translateY(0)
  }
}
