<main class="overflow-hidden">
  <header class="header app-landing-2-header section">
    <div class="shapes-container">
  <!-- diagonal shapes -->
  <!-- animated shapes -->
  <div class="animation-shape shape-triangle">
    <div class="animation--rotating"></div>
  </div>
  <div class="animation-shape shape-cross">
    <div class="animation--rotating"></div>
  </div>
  <!-- static shapes -->
  <div class="static-shape shape-ring shape-ring-1">
    <div class="animation animation--rotating"></div>
  </div>
  <div class="static-shape shape-ring shape-ring-2">
    <div class="animation animation--rotating-clockwise"></div>
  </div>
  <div class="static-shape pattern-dots-1"></div>
  <div class="static-shape pattern-dots-2"></div>
  <!-- main shape -->
    </div>
   <div class="backround-img">
    <div class="col-md-6 col-lg-7 w-100 fullscreen-md justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
style="background-image: url(../../assets/img/sunrise.jpg)"
></div>
</div>
  </header>
</main>

<div class="container slide-in">
  <h3 class="title-overview">Profile Overview!</h3>
  <div class="card mb-5 mb-xl-10 mt-5">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="me-7 mb-4">
          <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
            <img [style.background-image]="'url(' + this.currentActivProfilePicture + ')'" style="background-size: cover;" [src]="currentActivProfilePicture" [src]="
            currentActivProfilePicture
              ? currentActivProfilePicture
              : 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'">
            <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px">
            </div>
          </div>
        </div>
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between align-items-start flex-wrap mb-2 fs-13">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2 title-holder">
                <p class="text-gray-900 text-hover-primary fs-2 fw-bolder me-1">{{currentActiveAccountFullName}}</p>
              </div>
              <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2 holder fs-13">
                <a href="" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                  <span class="svg-icon svg-icon-4 me-1">
                    <i
                  class="fas fa-location-arrow me-2"></i>
                  </span>
                  SF, Bay Area
                </a>
                <a href="" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                  <span class="svg-icon svg-icon-4 me-1">
                    <i
                    class="fas fa-envelope me-2"></i>
                  </span>
                  {{currentActiveAccountMail}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
        <li class="nav-item mt-2 ">
          <span class="nav-link text-active-primary ms-0 me-10 py-5 cursor-pointer"  routerLinkActive="active" [routerLink]="['./overview']">Overview</span>
        </li>
        <li class="nav-item mt-2">
          <span class="nav-link text-active-primary ms-0 me-10 py-5 cursor-pointer" routerLinkActive="active" [routerLink]="['./campaigns-overview']">Campaigns</span>
        </li>
        <li class="nav-item mt-2">
          <span class="nav-link text-active-primary ms-0 me-10 py-5 cursor-pointer" routerLinkActive="active" [routerLink]="['./security']">Security</span>
        </li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
