<div id="post-spinner" *ngIf="showSpinner">
  <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
</div>

<div class="container-fluid">
  <div class="row align-items-center">
    <div
      class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay overlay-primary alpha-8 image-background cover"
      style="
        background-image: url(https://picsum.photos/1920/1200/?random&gravity=west);
      "
    >
      <div class="content">
        <h2
          class="display-4 display-md-3 display-lg-2 text-contrast mt-4 mt-md-0"
        >
          Forgot <span class="bold d-block">Password?</span>
        </h2>
        <p class="lead text-contrast">We've got you covered</p>

        <div class="d-flex flex-column"></div>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 mx-auto">
      <div class="forgot-form mt-5 mt-md-0">
        <img
          src="img/logo.png"
          class="logo img-responsive mb-4 mb-md-6"
          alt=""
        />
        <h1 class="text-darker bold">Forgot your password?</h1>
        <p class="text-secondary mt-0 mb-4 mb-md-6">
          Enter your email bellow to retrieve your account or
          <a [routerLink]="'../login'" class="text-primary bold">Login</a>
        </p>
        <!-- <form *ngIf="!resetPassword"
          class="cozy"
          action="srv/login.php"
          data-validate-on="submit"             REKOVME BEZ OVIE ACTION, DATA-VALIDATE-ON I NOVALIDATE
          novalidate
          [formGroup]="editFormGroup"
        > -->
        <form *ngIf="!resetPassword" class="cozy" [formGroup]="emailFormGroup">
          <span id="alert-message">
            This email address is not registered. Please enter a valid email
            address.</span
          >
          <div class="form-group has-icon">
            <input
              type="email"
              id="register_email"
              class="form-control form-control-rounded"
              placeholder="Your registered email"
              formControlName="email"
              (focusout)="checkEmail()"
              [ngClass]="isEmailValid ? '' : 'is-invalid'"
            />
            <i class="icon fas fa-envelope"></i>
          </div>
          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <!-- <button
              type="submit"
              class="btn btn-primary btn-rounded ms-auto bold"
              [disabled]="editFormGroup.invalid"
            > -->

            <!-- OVDE DOPISHAV NA KLIK NA KOPCHE KOJA FUNKCIJA DA JA VIKNE -->
            <button
              (click)="forgotPassword()"
              type="submit"
              class="btn btn-primary btn-rounded ms-auto bold"
              [disabled]="emailFormGroup.invalid"
            >
              Send reset link <i class="fas fa-long-arrow-alt-right ms-2"></i>
            </button>
          </div>
        </form>

        <!-- <form *ngIf="resetPassword"
        class="cozy"
        action="srv/login.php"
        data-validate-on="submit"             REKOVME BEZ OVIE ACTION, DATA-VALIDATE-ON I NOVALIDATE
        novalidate
        [formGroup]="editAfterFormGroup"
      > -->

        <form
          *ngIf="resetPassword"
          class="cozy"
          [formGroup]="changePasswordFormGroup"
        >
          <span id="wrong-code"> This code is incorect! </span>
          <div class="form-group has-icon">
            <input
              type="email"
              id="code"
              class="form-control form-control-rounded"
              placeholder="Enter your Code"
              formControlName="code"
              [ngClass]="wrongCode ? '' : 'wrong-code'"
            />
            <i class="icon fas fa-envelope"></i>
          </div>

          <div class="form-group has-icon">
            <input
              type="email"
              id="password"
              class="form-control form-control-rounded"
              placeholder="Enter your Password"
              formControlName="password"
            />
            <i class="icon fas fa-lock"></i>
          </div>

          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <!-- OVDE TI FALI NA KLIK KOJA FUNKCIJA KJE JA VIKNESH
        ISTO TI FALESHE I GORE, JAS GO DOPISHAV,
        ZATOA I TI PRAVESHE PROBLEM SO KLIKANJE NA BILO KOE MESTO -->
            <button
              type="submit"
              class="btn btn-primary btn-rounded ms-auto bold"
              [disabled]="changePasswordFormGroup.invalid"
              (click)="changePassword()"
            >
              Change password <i class="fas fa-long-arrow-alt-right ms-2"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
