@import '../../../assets/styles/auth.scss';

@media (min-width: 576px) {
  .fullscreen-sm {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .fullscreen-lg {
    min-height: 100vh;
  }
}

@media (min-width: 1200px) {
  .fullscreen-xl {
    min-height: 100vh;
  }
}

@media (min-width: 1400px) {
  .fullscreen-xxl {
    min-height: 100vh;
  }
}

.fullscreen {
  min-height: 100vh;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
p {
  margin: 1rem 0;
}

.logo {
  max-width: 180px;
}

hr[class*="bg"] {
  border-top: 0;
  height: 1px;
}

.nav-process {
  min-height: 60px;
}
.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: normal;
  line-height: 1.5;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.d-flex {
  display: flex !important;
}

.form-control.form-control-rounded {
  border-radius: 10rem;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.content {
  position: relative;
  z-index: 1;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a, a:focus, a:active, a:hover {
  outline: 0 !important;
  text-decoration: none;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18B295;
    text-decoration: none;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #6d768b;
}

small, .small {
  font-size: 0.875em;
}

p {
  margin: 1rem 0;
}
.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}
display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

form .form-group.has-icon .icon, .form .form-group.has-icon .icon {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 15px;
  margin-left: 12px;
  position: absolute;
  right: 0;
  color: #6d768b;
}
form.cozy .form-group, .form.cozy .form-group {
  margin-bottom: 30px;
}

form .form-group.has-icon .icon, .form .form-group.has-icon .icon {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 15px;
  margin-left: 12px;
  position: absolute;
  right: 0;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
@media (min-width: 768px){}
.mb-md-6 {
    margin-bottom: 6rem !important;
}

@media (min-width: 768px){
.mt-md-6 {
    margin-top: 6rem !important;
}}

@media (min-width: 992px){
.display-lg-2 {
    font-size: 4.5rem !important;

}}

@media (min-width: 768px) {
  .mobile-device[class*="absolute"] {
    margin-top: -45px !important;
  }
  .mb-md-6 {
    margin-bottom: 6rem !important;
  }
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #c1002b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #c1002b;
}


.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #c1002b;
}

.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
  background-color: #c1002b;
}


.invalid-email {
  color: red;
  display: none;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #c1002b;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c1002b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c1002b' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

#wrong-code {
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 7px;
  padding: 0;

}






