@import '../../assets/styles/lan-shapes.scss';

.app-landing-2-header {
  position: relative;
}

.slide-left{
  animation: slide-in .3s linear;
}

.slide-in{
  animation:slide-in .3s linear
}

.slide-up {
  animation:slide-up .3s linear
}


.slide-left{
  animation:slide-left .3s linear
}


@keyframes slide-in {
  0% {
    transform:translate(100%)
  }

  to{
    transform:translate(0)
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }

  to{
    transform:translateY(0)
  }
}

@keyframes slide-left {
  0% {
    transform:translate(100%)
  }

  to{
    transform:translate(0)
  }
}

.event-holder{
  
  margin-top: 90px;
}
.head-title{
  font-weight: 400;
}
.event-card{
  padding: 30px;

}

.btn-rounded{
  z-index: 1;
  color: white;
  border: 1px solid;
  border-radius: 10rem;
  // padding: 0.65rem 1.35rem;
  font-weight: 400;
  height: 43px;
  width: 130px;
}
// .btn {
//   display: flex;
//   font-family: Poppins,sans-serif;
//   font-weight: 500;
//   line-height: 1.5;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   user-select: none;
//   border: 1px solid transparent;
//   padding: 0.75rem 1.35rem;
//   font-size: .875rem;
//   border-radius: 0.25rem;
//   width: 20%;

// }

.btn {
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: normal;
  line-height: 1.5;
  
  
}
.btn-black{
  color: black;

}

.btn-contrast { 
  color: black !important;
    background-color: #ffffff;
    border-color: #ffffff;
    position: absolute;
    bottom: 22px;
    right: 22px;
}
.btn-block{
  width: 20%;

}
.btn-light:hover{
  color: #000;
  background-color: #cccdce;
  border-color: #cccdce;
  }
  .masonry-image-list {
    column-count: 3;
    column-gap: 16px;
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0 !important;
    width: 100%;
    
}
.mdc-image-list__item {
  margin-bottom: 16px;
  break-inside: avoid-column;
  list-style-type: none;
  position: relative;
  padding: 0 !important;
  border-radius: 10px;
}
.zoom-background {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.zoom-background:hover .image-background {
  -webkit-transform: scale(1.3) rotate(10deg);
  transform: scale(1.3) rotate(10deg);
}
.zoom-background .image-background {
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
.zoom-background .overlay:after {
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
}
.masonry-img-overlay {
  background-color: rgb(0 0 0 / 21%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mdc-image-list__image {
  display: block;
  height: auto;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}
.image-background.cover {
  background-size: cover;
}
.image-background {
  position: relative;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}
.promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.rounded {
  border-radius: 0.25rem !important;
}
.promo-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 260px;
}

ngx-masonry { 
  height: auto !important;
  position: relative;
}
