<main class="overflow-hidden">
  <header class="header app-landing-2-header section">
    <div class="shapes-container">
      <!-- diagonal shapes -->
      <div
        class="shape shape-animated"
        data-aos="fade-down-right"
        data-aos-duration="1500"
        data-aos-delay="100"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="100"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-up-left"
        data-aos-duration="500"
        data-aos-delay="200"
      ></div>
      <div
        class="shape shape-animated"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
      ></div>
      <!-- animated shapes -->
      <div class="animation-shape shape-triangle">
        <div class="animation--rotating"></div>
      </div>
      <div class="animation-shape shape-cross">
        <div class="animation--rotating"></div>
      </div>
      <!-- static shapes -->
      <div class="static-shape shape-ring shape-ring-1">
        <div class="animation animation--rotating"></div>
      </div>
      <div class="static-shape shape-ring shape-ring-2">
        <div class="animation animation--rotating-clockwise"></div>
      </div>
      <div class="static-shape pattern-dots-1"></div>
      <div class="static-shape pattern-dots-2"></div>
      <!-- main shape -->
      <div class="static-shape background-shape-main"></div>
    </div>
    <div class="container">
      <div class="row align-items-center gap-y">
        <div class="col-12 col-md-6 slide-up">
          <span
            class="rounded-pill shadow-sm bg-contrast text-dark bold py-2 px-4"
            ><i class="far fa-lightbulb text-primary me-2"></i>
            <span class="text-primary">Awesome</span> Marketing</span
          >
          <h1 class="display-4 display-md-2 mt-3">
            <span class="bold">Brand Gear</span>
          </h1>
          <p class="lead bold text-primary">
            Premium Visual & <span class="head-line-2">Digital Marketing!</span>
          </p>
          <p class="lead">
            Besides its beautiful design. BrangGear is an incredibly rich core
            framework for you to showcase your company.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <div class="device-twin ms-auto align-items-center">
            <div class="mockup absolute slide-left" data-aos="fade-left">
              <div class="screen">
                <img src="../../assets/img/1.png" alt="..." />
              </div>
              <span class="button"></span>
            </div>
            <div class="iphone-x light front me-0">
              <div class="screen shadow-box">
                <img src="../../assets/img/2.png" alt="..." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="title-events d-flex justify-content-center mt-3">
        <h3 class="text-white fw-500 display-5 display-md-4 head-title">
          Events
        </h3>
      </div>

      <div class="row event-holder mb-5">
        <div
          *ngFor="let list of eventList"
          class="col-xl-4 col-lg-4 col-md-6 slide-up event-card"
        >
          <app-event-card-view [list]="list"></app-event-card-view>
        </div>
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-rounded btn-outline px-3 fw-400 btn-block"
            [routerLink]="'../event/list'"
          >
            View More Events
          </button>
        </div>
      </div>
      <div class="title-events d-flex justify-content-center mt-3 mb-5">
        <h3 class="text-white fw-500 display-5 display-md-4 head-title">
          Campaign
        </h3>
      </div>
      <ngx-masonry [options]="{ gutter: 10 }">
        <ul class="row masonry-image-list">
          <li
            class="mdc-image-list__item slide-up zoom-background"
            *ngFor="let list of campaignsList"
          >
            <div class="masonry-img-overlay"></div>

            <img
              class="mdc-image-list__image image-background"
              [src]="list.campaignPicture"
            />

            <div class="promo-column">
              <div class="d-flex justify-content-end" *ngIf="is_company">
                <!-- *ngIf="account_id == list.companyId" -->
                <!-- <button
                    class="btn-icon"
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon class="more-icon">more_vert</mat-icon>
                  </button> -->
                <!-- <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editCampaign(list)">
                      <mat-icon class="me-2 fs-6 text-primary">edit</mat-icon>
                      <span>Edit Event</span>
                    </button>
      
                    <button mat-menu-item (click)="deleteCampaign(list.campaignId)">
                      <mat-icon class="me-2 fs-6 text-danger">delete</mat-icon>
                      <span>Delete Event</span>
                    </button>
                  </mat-menu> -->
              </div>

              <div class="rounded promo-block">
                <!-- <div
                class="absolute top right bottom left image-background cover overlay overlay-light alpha-3 w-100 h-100"
                [style.background-image]="'url(' + list.campaignPicture + ')'"
              ></div> -->
                <div class="content position-relative p-4">
                  <h4 class="text-darker mt-0">{{ list.campaignName }}</h4>
                  <!-- <p class="text-dark mt-0">
                  {{list.startDate}}
                </p> -->
                </div>
                <a
                  href="javascript:;"
                  class="btn btn-contrast"
                  [routerLink]="['/campaign/details', list.campaignGuid]"
                  >View Details</a
                >
              </div>
            </div>
          </li>
        </ul>
        <div class="d-flex justify-content-center mt-5">
          <button
            class="btn btn-rounded btn-outline px-3 fw-400 btn-black btn-block"
            [routerLink]="'../campaign/list'"
          >
            View More Campaign
          </button>
        </div>
      </ngx-masonry>
    </div>
  </header>
</main>
<!-- ./Partners -->
<router-outlet></router-outlet>
