<!--
  <div class="card campaign-card">
    <div id="post-spinner" *ngIf="showSpinner">
      <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
    </div>
    <mat-card-header class="card-header d-flex justify-content-end" *ngIf="is_company">
      <button
        class="btn-icon"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>


    </div>
  </div> -->

<div class="promo-column mb-5">
  <div class="rounded promo-block zoom-background">
    <div
      class="absolute top right bottom left image-background cover overlay overlay-light alpha-3 w-100 h-100"
      [style.background-image]="'url(' + list.campaignPicture + ')'"
    ></div>
    <div class="content position-relative p-4">
      <h4 class="text-darker mt-0">{{ list.campaignName }}</h4>
      <p class="text-dark mt-0">
        {{ list.startDate }}
      </p>
      <a
        href="javascript:;"
        class="btn btn-contrast"
        (click)="viewCampaignByGuid()"
        >View Details</a
      >
    </div>
  </div>
</div>
