// @media (min-width: 1400px) {
//   .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
//     max-width: 1320px;
// }
// }

// @media (min-width: 1200px) {
//   .container, .container-sm, .container-md, .container-lg, .container-xl {
//     max-width: 1130px;
// }
// }

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px !important;
}
}


