/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Roboto+Slab:wght@300;500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important; }

html, body {
  font-family: 'Poppins', sans-serif !important;
}
