body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #6d768b;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(22, 28, 45, 0);
}

@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
}

form.cozy .form-group,
.form.cozy .form-group {
  margin-bottom: 30px;
}

form .form-group.has-icon,
.form .form-group.has-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

form .form-group label.error,
.form .form-group label.error {
  color: #c1002b;
  font-size: 0.875rem;
}

form .form-group.has-icon .form-control,
.form .form-group.has-icon .form-control {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 2.5rem;
  -webkit-box-flex: 0;
      // -ms-flex: 0 0 100%;
      //     flex: 0 0 100%;
}
// form .form-group.has-icon .form-control.is-valid + .icon,
// .form .form-group.has-icon .form-control.is-valid + .icon {
//   color: #00c9b7;
// }

form .form-group.has-icon .form-control.is-invalid + .icon,
.form .form-group.has-icon .form-control.is-invalid + .icon {
  color: #6d768b;
}

form .form-group.has-icon .icon,
.form .form-group.has-icon .icon {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 15px;
  margin-left: 12px;
  position: absolute;
  right: 0;
  color: #6d768b;
}

form .form-group.has-icon.icon-left .form-control,
.form .form-group.has-icon.icon-left .form-control {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 2.5rem;
  padding-right: 0;
}

form .form-group.has-icon.icon-left .icon,
.form .form-group.has-icon.icon-left .icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  left: 5px;
  right: auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #506690;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #d9e2ef;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #506690;
  background-color: #f1f4f8;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #506690;
  background-color: #f1f4f8;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #6d768b;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.text-contrast {
  color: #ffffff !important;
}

.image-background {
  position: relative;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;

}

.image-background.cover {
  background-size: cover;

}

.image-background.contain {
  background-size: contain;
}

.image-background.left-bottom {
  background-position: 0 bottom;
}

.image-background.center-top {
  background-position: center top;
}

.image-background.center-bottom {
  background-position: center bottom;
}

.image-background.p100-top {
  background-position: 100% top;
}

.image-background.p100-bottom {
  background-position: 100% bottom;
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.bold, strong {
  font-weight: 700 !important;
}
.d-block {
  display: block !important;
}

.d-md-block {
  display: block !important;
}
.overlay.overlay-primary:after {
  background-color: rgba(85, 51, 255, 0.6);
}

.overlay.overlay-primary.alpha-1:after {
  background-color: rgba(85, 51, 255, 0.1);
}

.overlay.overlay-primary.alpha-2:after {
  background-color: rgba(85, 51, 255, 0.2);
}

.overlay.overlay-primary.alpha-3:after {
  background-color: rgba(85, 51, 255, 0.3);
}

.overlay.overlay-primary.alpha-4:after {
  background-color: rgba(85, 51, 255, 0.4);
}

.overlay.overlay-primary.alpha-5:after {
  background-color: rgba(85, 51, 255, 0.5);
}

.overlay.overlay-primary.alpha-6:after {
  background-color: rgba(85, 51, 255, 0.6);
}

.overlay.overlay-primary.alpha-7:after {
  background-color: rgba(85, 51, 255, 0.7);
}

.overlay.overlay-primary.alpha-8:after {
  background-color: rgba(85, 51, 255, 0.6);
}

.overlay.overlay-primary.alpha-9:after {
  background-color: rgba(85, 51, 255, 0.6);
}
.overlay.overlay-secondary:after {
  background-color: rgba(80, 102, 144, 0.6);
}

.overlay.overlay-secondary.alpha-1:after {
  background-color: rgba(80, 102, 144, 0.1);
}

.overlay.overlay-secondary.alpha-2:after {
  background-color: rgba(80, 102, 144, 0.2);
}

.overlay.overlay-secondary.alpha-3:after {
  background-color: rgba(80, 102, 144, 0.3);
}

.overlay.overlay-secondary.alpha-4:after {
  background-color: rgba(80, 102, 144, 0.4);
}

.overlay.overlay-secondary.alpha-5:after {
  background-color: rgba(80, 102, 144, 0.5);
}

.overlay.overlay-secondary.alpha-6:after {
  background-color: rgba(80, 102, 144, 0.6);
}

.overlay.overlay-secondary.alpha-7:after {
  background-color: rgba(80, 102, 144, 0.7);
}

.overlay.overlay-secondary.alpha-8:after {
  background-color: rgba(80, 102, 144, 0.8);
}

.overlay.overlay-secondary.alpha-9:after {
  background-color: rgba(80, 102, 144, 0.9);
}
.overlay.overlay-success:after {
  background-color: rgba(0, 201, 183, 0.6);
}

.overlay.overlay-success.alpha-1:after {
  background-color: rgba(0, 201, 183, 0.1);
}

.overlay.overlay-success.alpha-2:after {
  background-color: rgba(0, 201, 183, 0.2);
}

.overlay.overlay-success.alpha-3:after {
  background-color: rgba(0, 201, 183, 0.3);
}

.overlay.overlay-success.alpha-4:after {
  background-color: rgba(0, 201, 183, 0.4);
}

.overlay.overlay-success.alpha-5:after {
  background-color: rgba(0, 201, 183, 0.5);
}

.overlay.overlay-success.alpha-6:after {
  background-color: rgba(0, 201, 183, 0.6);
}

.overlay.overlay-success.alpha-7:after {
  background-color: rgba(0, 201, 183, 0.7);
}

.overlay.overlay-success.alpha-8:after {
  background-color: rgba(0, 201, 183, 0.8);
}

.overlay.overlay-success.alpha-9:after {
  background-color: rgba(0, 201, 183, 0.9);
}
.icon {
  margin-left: 5px;
  margin-right: 15px;
  padding: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.icon.logo {
  max-width: 80px;
}

.icon i {
  margin: 0;
}

img.icon {
  max-width: 54px;
}

.icon-xs {
  width: 0.75rem;
  height: 0.75rem;
}

.icon-sm {
  width: 0.875rem;
  height: 0.875rem;
}

.icon-md {
  width: 1.75rem;
  height: 1.75rem;
}

.icon-lg {
  width: 3.25rem;
  height: 3.25rem;
}

.icon-xl {
  width: 4.5rem;
  height: 4.5rem;
}

.icon-xxl {
  width: 6.5rem;
  height: 6.5rem;
}

.icon-l {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-2l {
  width: 2.5rem;
  height: 2.5rem;
  color: #6d768b
}

.icon-2xl {
  width: 9rem;
  height: 9rem;
  color: #6d768b
}

.icon-2xxl {
  width: 13rem;
  height: 13rem;
  color: #6d768b
}
.btn-rounded {
  width: fit-content;
  height: 40px;
  border-radius: 10rem;
}
.text-darker {
  color: #161c2d !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.form-control.form-control-rounded {
  border-radius: 10rem;
}

@media (min-width: 768px) {
  .display-md-1 {
    font-size: 5rem !important;
  }
  .display-md-2 {
    font-size: 4.5rem !important;
  }
  .display-md-3 {
    font-size: 4rem !important;
    line-height: 70px;
  }
  .display-md-4 {
    font-size: 3.5rem !important;

  }
  .display-md-5 {
    font-size: 3rem !important;
  }
  .display-md-6 {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 992px) {
  .display-lg-1 {
    font-size: 5rem !important;
  }
  .display-lg-2 {
    font-size: 4.5rem !important;
  }
  .display-lg-3 {
    font-size: 4rem !important;
  }
  .display-lg-4 {
    font-size: 3.5rem !important;

  }
  .display-lg-5 {
    font-size: 3rem !important;
  }
  .display-lg-6 {
    font-size: 2.5rem !important;
  }
}
.overlay [class^="container"],
.overlay > .content {
  position: relative;
  z-index: 1;
}
.btn-primary {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  // font-weight: bold;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #482bd9;
  border-color: #4429cc;
}
@media (min-width: 768px) {
  .fullscreen-md {
    min-height: 100vh;
  }
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:focus {
  color: #506690;
  background-color: #ffffff;
  border-color: #dce3e7;
  outline: 0;
  -webkit-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
}
.form-control[type="file"] {
  overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not(:-moz-read-only) {
  cursor: pointer;
}

.form-control[type="file"]:not(:disabled):not(:read-only) {
  cursor: pointer;
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-webkit-input-placeholder {
  color: #869ab8;
  opacity: 1;
}
.form-control-color:not(:disabled):not(:-moz-read-only) {
  cursor: pointer;
}
.form-control-color:not(:disabled):not(:read-only) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-control-color {
  max-width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-select {
  background-color: white;
}
.btn-circle.btn-sm, .btn-group-sm > .btn-circle.btn {
  width: 2rem;
  height: 2rem;
}
.btn-circle.btn-md {
  width: 3rem;
  height: 3rem;
}
.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
  width: 4rem;
  height: 4rem;
}
.text-secondary {
  color: #506690 !important;
}
.fa-envelope:before {
  content: "\f0e0";
  color: #6d768b}

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-envelope-open-text:before {
  content: "\f658"; }

.fa-envelope-square:before {
  content: "\f199";
}
.overlay.overlay-info:after {
  background-color: rgba(0, 160, 224, 0.6);
}

.overlay.overlay-info.alpha-1:after {
  background-color: rgba(0, 160, 224, 0.1);
}

.overlay.overlay-info.alpha-2:after {
  background-color: rgba(0, 160, 224, 0.2);
}

.overlay.overlay-info.alpha-3:after {
  background-color: rgba(0, 160, 224, 0.3);
}

.overlay.overlay-info.alpha-4:after {
  background-color: rgba(0, 160, 224, 0.4);
}

.overlay.overlay-info.alpha-5:after {
  background-color: rgba(0, 160, 224, 0.5);
}

.overlay.overlay-info.alpha-6:after {
  background-color: rgba(0, 160, 224, 0.6);
}

.overlay.overlay-info.alpha-7:after {
  background-color: rgba(0, 160, 224, 0.7);
}

.overlay.overlay-info.alpha-8:after {
  background-color: rgba(0, 160, 224, 0.8);
}

.overlay.overlay-info.alpha-9:after {
  background-color: rgba(0, 160, 224, 0.9);
}

.overlay.overlay-warning:after {
  background-color: rgba(254, 184, 104, 0.6);
}

.overlay.overlay-warning.alpha-1:after {
  background-color: rgba(254, 184, 104, 0.1);
}

.overlay.overlay-warning.alpha-2:after {
  background-color: rgba(254, 184, 104, 0.2);
}

.overlay.overlay-warning.alpha-3:after {
  background-color: rgba(254, 184, 104, 0.3);
}

.overlay.overlay-warning.alpha-4:after {
  background-color: rgba(254, 184, 104, 0.4);
}

.overlay.overlay-warning.alpha-5:after {
  background-color: rgba(254, 184, 104, 0.5);
}

.overlay.overlay-warning.alpha-6:after {
  background-color: rgba(254, 184, 104, 0.6);
}

.overlay.overlay-warning.alpha-7:after {
  background-color: rgba(254, 184, 104, 0.7);
}

.overlay.overlay-warning.alpha-8:after {
  background-color: rgba(254, 184, 104, 0.8);
}

.overlay.overlay-warning.alpha-9:after {
  background-color: rgba(254, 184, 104, 0.9);
}

.overlay.overlay-danger:after {
  background-color: rgba(193, 0, 43, 0.6);
}

.overlay.overlay-danger.alpha-1:after {
  background-color: rgba(193, 0, 43, 0.1);
}

.overlay.overlay-danger.alpha-2:after {
  background-color: rgba(193, 0, 43, 0.2);
}

.overlay.overlay-danger.alpha-3:after {
  background-color: rgba(193, 0, 43, 0.3);
}

.overlay.overlay-danger.alpha-4:after {
  background-color: rgba(193, 0, 43, 0.4);
}

.overlay.overlay-danger.alpha-5:after {
  background-color: rgba(193, 0, 43, 0.5);
}

.overlay.overlay-danger.alpha-6:after {
  background-color: rgba(193, 0, 43, 0.6);
}

.overlay.overlay-danger.alpha-7:after {
  background-color: rgba(193, 0, 43, 0.7);
}

.overlay.overlay-danger.alpha-8:after {
  background-color: rgba(193, 0, 43, 0.8);
}

.overlay.overlay-danger.alpha-9:after {
  background-color: rgba(193, 0, 43, 0.9);
}
.overlay.overlay-light:after {
  background-color: rgba(241, 244, 248, 0.6);
}

.overlay.overlay-light.alpha-1:after {
  background-color: rgba(241, 244, 248, 0.1);
}

.overlay.overlay-light.alpha-2:after {
  background-color: rgba(241, 244, 248, 0.2);
}

.overlay.overlay-light.alpha-3:after {
  background-color: rgba(241, 244, 248, 0.3);
}

.overlay.overlay-light.alpha-4:after {
  background-color: rgba(241, 244, 248, 0.4);
}

.overlay.overlay-light.alpha-5:after {
  background-color: rgba(241, 244, 248, 0.5);
}

.overlay.overlay-light.alpha-6:after {
  background-color: rgba(241, 244, 248, 0.6);
}

.overlay.overlay-light.alpha-7:after {
  background-color: rgba(241, 244, 248, 0.7);
}

.overlay.overlay-light.alpha-8:after {
  background-color: rgba(241, 244, 248, 0.8);
}

.overlay.overlay-light.alpha-9:after {
  background-color: rgba(241, 244, 248, 0.9);
}
.overlay.overlay-dark:after {
  background-color: rgba(43, 53, 79, 0.6);
}

.overlay.overlay-dark.alpha-1:after {
  background-color: rgba(43, 53, 79, 0.1);
}

.overlay.overlay-dark.alpha-2:after {
  background-color: rgba(43, 53, 79, 0.2);
}

.overlay.overlay-dark.alpha-3:after {
  background-color: rgba(43, 53, 79, 0.3);
}

.overlay.overlay-dark.alpha-4:after {
  background-color: rgba(43, 53, 79, 0.4);
}

.overlay.overlay-dark.alpha-5:after {
  background-color: rgba(43, 53, 79, 0.5);
}

.overlay.overlay-dark.alpha-6:after {
  background-color: rgba(43, 53, 79, 0.6);
}

.overlay.overlay-dark.alpha-7:after {
  background-color: rgba(43, 53, 79, 0.7);
}

.overlay.overlay-dark.alpha-8:after {
  background-color: rgba(43, 53, 79, 0.8);
}

.overlay.overlay-dark.alpha-9:after {
  background-color: rgba(43, 53, 79, 0.9);
}
.overlay.overlay-gray:after {
  background-color: rgba(134, 154, 184, 0.6);
}

.overlay.overlay-gray.alpha-1:after {
  background-color: rgba(134, 154, 184, 0.1);
}

.overlay.overlay-gray.alpha-2:after {
  background-color: rgba(134, 154, 184, 0.2);
}

.overlay.overlay-gray.alpha-3:after {
  background-color: rgba(134, 154, 184, 0.3);
}

.overlay.overlay-gray.alpha-4:after {
  background-color: rgba(134, 154, 184, 0.4);
}

.overlay.overlay-gray.alpha-5:after {
  background-color: rgba(134, 154, 184, 0.5);
}

.overlay.overlay-gray.alpha-6:after {
  background-color: rgba(134, 154, 184, 0.6);
}

.overlay.overlay-gray.alpha-7:after {
  background-color: rgba(134, 154, 184, 0.7);
}

.overlay.overlay-gray.alpha-8:after {
  background-color: rgba(134, 154, 184, 0.8);
}

.overlay.overlay-gray.alpha-9:after {
  background-color: rgba(134, 154, 184, 0.9);
}

.overlay.overlay-gray-light:after {
  background-color: rgba(198, 211, 230, 0.6);
}

.overlay.overlay-gray-light.alpha-1:after {
  background-color: rgba(198, 211, 230, 0.1);
}

.overlay.overlay-gray-light.alpha-2:after {
  background-color: rgba(198, 211, 230, 0.2);
}

.overlay.overlay-gray-light.alpha-3:after {
  background-color: rgba(198, 211, 230, 0.3);
}

.overlay.overlay-gray-light.alpha-4:after {
  background-color: rgba(198, 211, 230, 0.4);
}

.overlay.overlay-gray-light.alpha-5:after {
  background-color: rgba(198, 211, 230, 0.5);
}

.overlay.overlay-gray-light.alpha-6:after {
  background-color: rgba(198, 211, 230, 0.6);
}

.overlay.overlay-gray-light.alpha-7:after {
  background-color: rgba(198, 211, 230, 0.7);
}

.overlay.overlay-gray-light.alpha-8:after {
  background-color: rgba(198, 211, 230, 0.8);
}

.overlay.overlay-gray-light.alpha-9:after {
  background-color: rgba(198, 211, 230, 0.9);
}
.overlay.overlay-alternate:after {
  background-color: rgba(252, 158, 33, 0.6);
}

.overlay.overlay-alternate.alpha-1:after {
  background-color: rgba(252, 158, 33, 0.1);
}

.overlay.overlay-alternate.alpha-2:after {
  background-color: rgba(252, 158, 33, 0.2);
}

.overlay.overlay-alternate.alpha-3:after {
  background-color: rgba(252, 158, 33, 0.3);
}

.overlay.overlay-alternate.alpha-4:after {
  background-color: rgba(252, 158, 33, 0.4);
}

.overlay.overlay-alternate.alpha-5:after {
  background-color: rgba(252, 158, 33, 0.5);
}

.overlay.overlay-alternate.alpha-6:after {
  background-color: rgba(252, 158, 33, 0.6);
}

.overlay.overlay-alternate.alpha-7:after {
  background-color: rgba(252, 158, 33, 0.7);
}

.overlay.overlay-alternate.alpha-8:after {
  background-color: rgba(252, 158, 33, 0.8);
}

.overlay.overlay-alternate.alpha-9:after {
  background-color: rgba(252, 158, 33, 0.9);
}

.overlay.overlay-contrast:after {
  background-color: rgba(255, 255, 255, 0.6);
}

.overlay.overlay-contrast.alpha-1:after {
  background-color: rgba(255, 255, 255, 0.1);
}

.overlay.overlay-contrast.alpha-2:after {
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay.overlay-contrast.alpha-3:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.overlay.overlay-contrast.alpha-4:after {
  background-color: rgba(255, 255, 255, 0.4);
}

.overlay.overlay-contrast.alpha-5:after {
  background-color: rgba(255, 255, 255, 0.5);
}

.overlay.overlay-contrast.alpha-6:after {
  background-color: rgba(255, 255, 255, 0.6);
}

.overlay.overlay-contrast.alpha-7:after {
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay.overlay-contrast.alpha-8:after {
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay.overlay-contrast.alpha-9:after {
  background-color: rgba(255, 255, 255, 0.9);
}
.overlay.overlay-darker:after {
  background-color: rgba(22, 28, 45, 0.6);
}

.overlay.overlay-darker.alpha-1:after {
  background-color: rgba(22, 28, 45, 0.1);
}

.overlay.overlay-darker.alpha-2:after {
  background-color: rgba(22, 28, 45, 0.2);
}

.overlay.overlay-darker.alpha-3:after {
  background-color: rgba(22, 28, 45, 0.3);
}

.overlay.overlay-darker.alpha-4:after {
  background-color: rgba(22, 28, 45, 0.4);
}

.overlay.overlay-darker.alpha-5:after {
  background-color: rgba(22, 28, 45, 0.5);
}

.overlay.overlay-darker.alpha-6:after {
  background-color: rgba(22, 28, 45, 0.6);
}

.overlay.overlay-darker.alpha-7:after {
  background-color: rgba(22, 28, 45, 0.7);
}

.overlay.overlay-darker.alpha-8:after {
  background-color: rgba(22, 28, 45, 0.8);
}

.overlay.overlay-darker.alpha-9:after {
  background-color: rgba(22, 28, 45, 0.9);
}

.overlay.overlay-black:after {
  background-color: rgba(22, 28, 45, 0.6);
}

.overlay.overlay-black.alpha-1:after {
  background-color: rgba(22, 28, 45, 0.1);
}

.overlay.overlay-black.alpha-2:after {
  background-color: rgba(22, 28, 45, 0.2);
}

.overlay.overlay-black.alpha-3:after {
  background-color: rgba(22, 28, 45, 0.3);
}

.overlay.overlay-black.alpha-4:after {
  background-color: rgba(22, 28, 45, 0.4);
}

.overlay.overlay-black.alpha-5:after {
  background-color: rgba(22, 28, 45, 0.5);
}

.overlay.overlay-black.alpha-6:after {
  background-color: rgba(22, 28, 45, 0.6);
}

.overlay.overlay-black.alpha-7:after {
  background-color: rgba(22, 28, 45, 0.7);
}

.overlay.overlay-black.alpha-8:after {
  background-color: rgba(22, 28, 45, 0.8);
}

.overlay.overlay-black.alpha-9:after {
  background-color: rgba(22, 28, 45, 0.9);
}
.btn-outline-contrast {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-contrast:hover {
  color: #161c2d;
  background-color: #ffffff;
  border-color: #ffffff;
}
.form-control::-moz-placeholder {
  color: #869ab8;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #869ab8;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #869ab8;
  opacity: 1;
}
.form-control::placeholder {
  color: #869ab8;
  opacity: 1;
}
.form-control:-moz-read-only {
  background-color: #f1f4f8;
  opacity: 1;
}
.form-control:disabled, .form-control:read-only {
  background-color: #f1f4f8;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not(:-moz-read-only)::file-selector-button {
  background-color: #e5e8ec;
}
.form-control:hover:not(:disabled):not(:read-only)::file-selector-button {
  background-color: #e5e8ec;
}
.form-control:hover:not(:disabled):not(:read-only)::-webkit-file-upload-button {
  background-color: #e5e8ec;
}
.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-4 {
  font-size: 3.5rem !important;
}
:root {
  --swiper-theme-color: #007aff;
}
.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(39, 51, 62, 0.6);
  opacity: 1;
  z-index: 0;
}
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}
.btn-primary:disabled, .btn-primary.disabled {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.invalid-email {
  color: red;
  display: none;
}

#alert-message {
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 7px;
  padding: 0;

}
.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #c1002b;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #c1002b;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #c1002b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #c1002b;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: .5em;
}

.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid, .was-validated
.input-group .form-select:invalid,
.input-group .form-select.is-invalid {
  z-index: 3;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #c1002b;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c1002b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c1002b' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}



.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}


.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #c1002b;
}

.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
  background-color: #c1002b;
}

.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23384c74' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c1002b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c1002b' stroke='none'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
}
.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
  border-color: #c1002b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
}



