p{
  margin: 1rem 0;
}
body {
  overflow-x : hidden;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  font-size  : 16px;
  font-weight: 300;
  color      : #333;
}

.overflow-hidden {
  overflow: hidden !important;
}
.app-landing-2-header .background-shape-main {
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -webkit-transform: translate(80%, -30%) rotate(-35deg);
          transform: translate(80%, -30%) rotate(-35deg);
  background-image: linear-gradient(45deg, #5533ff 40%, #506690 100%);
}
@media (min-width: 768px) {
  .app-landing-2-header .background-shape-main {
    height: 150%;
    -webkit-transform: translate(25%, -25%) skewY(30deg);
            transform: translate(25%, -25%) skewY(30deg);
  }
}

@media (min-width: 992px) {
  .app-landing-2-header .background-shape-main {
    -webkit-transform: translate(20%, -30%) skewY(30deg);
            transform: translate(20%, -30%) skewY(30deg);
  }
}

@media (min-width: 1200px) {
  .app-landing-2-header .background-shape-main {
    -webkit-transform: translate(30%, -10%) skewY(30deg);
            transform: translate(30%, -10%) skewY(30deg);
  }
}

.app-landing-2-header .animation-shape {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-landing-2-header .animation-shape.shape-triangle {
  top: 80%;
  left: 0;
  z-index: 1;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.app-landing-2-header .animation-shape.shape-triangle div {
  opacity: 0.1;
  position: relative;
  background-color: #5533ff;
  text-align: left;
  -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
          transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.app-landing-2-header .animation-shape.shape-triangle div:before, .app-landing-2-header .animation-shape.shape-triangle div:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.app-landing-2-header .animation-shape.shape-triangle div, .app-landing-2-header .animation-shape.shape-triangle div:before, .app-landing-2-header .animation-shape.shape-triangle div:after {
  width: 90px;
  height: 90px;
  border-top-right-radius: 30%;
}

.app-landing-2-header .animation-shape.shape-triangle div:before {
  -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.app-landing-2-header .animation-shape.shape-triangle div:after {
  -webkit-transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.app-landing-2-header .animation-shape.shape-cross {
  top: 20%;
  left: 75%;
  // z-index: 1;
}

.app-landing-2-header .animation-shape.shape-cross div {
  position: relative;
  background: #ffffff;
  width: 3px;
  height: 20px;
}

.app-landing-2-header .animation-shape.shape-cross div:after {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 3px;
  left: 50%;
  top: 50%;
  width: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.app-landing-2-header .static-shape {
  position: absolute;
}

.app-landing-2-header .static-shape.shape-circle {
  top: 0;
  right: 0;
  opacity: 0.2;
}

.app-landing-2-header .static-shape.shape-circle-1 {
  -webkit-transform: translate3d(25%, -25%, 0);
          transform: translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-1 div {
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0;
}

.app-landing-2-header .static-shape.shape-circle-2 {
  -webkit-transform: translate3d(25%, -25%, 0);
          transform: translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-2 div {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin: 0;
}

.app-landing-2-header .static-shape.shape-ring {
  left: 53%;
  top: 30%;
}

.app-landing-2-header .static-shape.shape-ring-1 {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.app-landing-2-header .static-shape.shape-ring-1 .animation {
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.app-landing-2-header .static-shape.shape-ring-2 {
  -webkit-transform: translate3d(-15%, -15%, 0);
          transform: translate3d(-15%, -15%, 0);
}

.app-landing-2-header .static-shape.shape-ring-2 .animation {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}

.app-landing-2-header .static-shape.shape-ring .animation {
  border-style: dashed;
}

.app-landing-2-header .static-shape.pattern-dots-1 {
  top: 0;
  left: 0;
  width: 150px;
  height: 20%;
  background-color: transparent;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 3px, transparent 3px);
  background-size: 30px 30px;
}

// .app-landing-2-header .static-shape.pattern-dots-2 {
//   bottom: 65px;
//   right: 33%;
//   width: 185px;
//   height: 40%;
//   background-color: transparent;
//   background-image: radial-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px);
//   background-size: 20px 20px;
// }

.app-landing-2-header .shape {
  position: absolute;
}

.app-landing-2-header .shape:nth-child(1) {
  top: 0%;
  left: 70%;
  width: 400px;
  height: 140px;
}

.app-landing-2-header .shape:nth-child(2) {
  top: 0%;
  left: 65%;
  width: 300px;
  height: 100px;
}

.app-landing-2-header .shape:nth-child(3) {
  top: 0%;
  // left: 80%;
  width: 600px;
  height: 200px;
}

.app-landing-2-header .shape:nth-child(4) {
  top: 82%;
  left: 85%;
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .app-landing-2-header .shape:nth-child(1) {
    left: 25%;
  }
  .app-landing-2-header .shape:nth-child(2) {
    left: 55%;
  }
}

@media (min-width: 992px) {
  .app-landing-2-header .shape:nth-child(1) {
    left: 35%;
  }
  .app-landing-2-header .shape:nth-child(2) {
    left: 45%;
  }
}

@media (min-width: 1200px) {
  .app-landing-2-header .shape:nth-child(1) {
    left: 45%;
  }
  .app-landing-2-header .shape:nth-child(2) {
    left: 65%;
  }
}

.app-landing-2-header .shape[data-aos]:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(249, 251, 253, 0.05);
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  position: absolute;
  border-radius: 100px;
}
.shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.shape-testimonials .shapes-container {
  z-index: 1;
}
.with-promo .promo-box.bottom-left + .shapes-container .shape.pattern {
  z-index: 0;
}

.with-promo .promo-box.bottom-left + .shapes-container .shape.pattern-dots {
  top: 0;
  right: 0;
  width: 200px;
  height: 70%;
  -webkit-transform: translate(50%, -30%);
          transform: translate(50%, -30%);
  background-color: transparent;
  background-image: radial-gradient(#d9e2ef 2px, transparent 2px);
  background-size: 15px 15px;
}
.with-promo .promo-box.top-right + .shapes-container .shape.pattern {
  z-index: 0;
}

.with-promo .promo-box.top-right + .shapes-container .shape.pattern-dots {
  top: 0;
  left: 0;
  width: 200px;
  height: 70%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  background-color: transparent;
  background-image: radial-gradient(#d9e2ef 2px, transparent 2px);
  background-size: 15px 15px;
}
.with-promo .shapes-container {
  z-index: -1;
}
.animation--rotating {
  -webkit-animation: rotating 15s linear infinite normal;
          animation: rotating 15s linear infinite normal;
}
.animation--rotating-diagonal {
  -webkit-animation: rotating-diagonal 15s linear infinite alternate;
          animation: rotating-diagonal 15s linear infinite alternate;
}

.animation--rotating-clockwise {
  -webkit-animation: rotating-clockwise 15s linear infinite normal;
          animation: rotating-clockwise 15s linear infinite normal;
}
@-webkit-keyframes rotating-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.app-safety .shape-ring {
  left: 0;
  top: 25%;
  -webkit-transform: translate3d(10%, -35%, 0);
          transform: translate3d(10%, -35%, 0);
}

.app-safety .shape-ring div {
  opacity: 0.15;
  width: 660px;
  height: 660px;
  border: 75px solid #f1f4f8;
  border-radius: 50%;
}
.integrations-header .shape-ring-1 {
  left: 0;
  top: 0;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
}

.integrations-header .shape-ring-1 div {
  opacity: 0.15;
  width: 560px;
  height: 560px;
  border: 50px solid #d9e2ef;
  border-radius: 50%;
}
.why-people-love-us .shape.pattern-dots-1 {
  bottom: 0;
  left: 20%;
  width: 200px;
  height: 30%;
  background-color: transparent;
  background-image: radial-gradient(#d9e2ef 2px, transparent 2px);
  background-size: 20px 20px;
}

@media (min-width: 768px) {
  .why-people-love-us .shape.pattern-dots-1 {
    bottom: 20%;
    height: 50%;
  }
}
.background-shape-main {
  background-color: #5533ff;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 120px;
  z-index: -1;
}
.app-landing-2-header .background-shape-main {
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -webkit-transform: translate(80%, -30%) rotate(-35deg);
          transform: translate(80%, -30%) rotate(-35deg);
  background-image: linear-gradient(45deg, #5533ff 40%, #506690 100%);
}

@media (min-width: 768px) {
  .app-landing-2-header .background-shape-main {
    height: 150%;
    -webkit-transform: translate(25%, -25%) skewY(30deg);
            transform: translate(25%, -25%) skewY(30deg);
  }
}

@media (min-width: 992px) {
  .app-landing-2-header .background-shape-main {
    -webkit-transform: translate(20%, -30%) skewY(30deg);
            transform: translate(20%, -30%) skewY(30deg);
  }
}

@media (min-width: 1200px) {
  .app-landing-2-header .background-shape-main {
    -webkit-transform: translate(30%, -10%) skewY(30deg);
            transform: translate(30%, -10%) skewY(30deg);
  }
}
.bold {
  font-weight: 700 !important;
}
.italic { font-style: italic; }



header:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  z-index: 0;
  // background: rgba(123, 104, 238, 0.9);
}

header .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

header a {
  color: #cbc4f8;
}

header a:hover,
header a:active,
header a:focus {
  color: #f3f1fd;
}

section#thanks .container {
  padding: 40px 0;
}

section .container > div {
  padding-bottom: 40px;
}
.row.gap-y {
  margin-top: 3.5rem;
  margin-bottom: -0.75rem;
}

.row.gap-y > .col,
.row.gap-y > [class*="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 1rem;
  font-weight: 400;
  color: #161c2d;
}

h3 a[data-toggle="collapse"] {
    color: #333 !important;
}

h3 a[data-toggle="collapse"]:hover {
    color: #3f3f3f !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(22, 28, 45, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(22, 28, 45, 0.075) !important;
}
.bg-contrast {
  background-color: #ffffff !important;
}
.text-dark {
  color: #2b354f !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.text-primary {
  color: #5533ff !important;
}
.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-md-1 {
    font-size: 5rem !important;
  }
  .display-md-2 {
    font-size: 4.5rem !important;
  }
  .display-md-3 {
    font-size: 4rem !important;
  }
  .display-md-4 {
    font-size: 3.5rem !important;
  }
  .display-md-5 {
    font-size: 3rem !important;
  }
  .display-md-6 {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
.mt-3 {
  margin-top: 1rem !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300 !important;
}
.app-landing-2-header .head-line-2 {
  display: block;
}

@media (min-width: 768px) {
  .app-landing-2-header .head-line-2 {
    display: inline;
  }
}
.shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(22, 28, 45, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(22, 28, 45, 0.175) !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.input-group-register {
  position: relative;
}

.input-group-register label {
  position: absolute;
  bottom: -4px;
  margin-bottom: 0;
}

.input-group-register .btn {
  border-radius: 0.25rem;
  margin: 0;
  height: 60px;
  right: 5px;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 4;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-group-register .form-control {
  width: 100%;
  position: relative;
  border-radius: 0.25rem;
  height: 70px;
  line-height: 70px;
  padding: 0 180px 0 30px;
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #506690;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #d9e2ef;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control[type="file"] {
  overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not(:-moz-read-only) {
  cursor: pointer;
}

.form-control[type="file"]:not(:disabled):not(:read-only) {
  cursor: pointer;
}

.form-control:focus {
  color: #506690;
  background-color: #ffffff;
  border-color: #dce3e7;
  outline: 0;
  -webkit-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}

.form-control::-webkit-input-placeholder {
  color: #869ab8;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #869ab8;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #869ab8;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #869ab8;
  opacity: 1;
}

.form-control::placeholder {
  color: #869ab8;
  opacity: 1;
}

.form-control:-moz-read-only {
  background-color: #f1f4f8;
  opacity: 1;
}

.form-control:disabled, .form-control:read-only {
  background-color: #f1f4f8;
  opacity: 1;
}

.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #506690;
  background-color: #f1f4f8;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control:hover:not(:disabled):not(:-moz-read-only)::file-selector-button {
  background-color: #e5e8ec;
}

.form-control:hover:not(:disabled):not(:read-only)::file-selector-button {
  background-color: #e5e8ec;
}

.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #506690;
  background-color: #f1f4f8;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control:hover:not(:disabled):not(:read-only)::-webkit-file-upload-button {
  background-color: #e5e8ec;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #6d768b;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  max-width: 3rem;
  height: auto;
  padding: 0.375rem;
}

.form-control-color:not(:disabled):not(:-moz-read-only) {
  cursor: pointer;
}

.form-control-color:not(:disabled):not(:read-only) {
  cursor: pointer;
}

.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}

.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  padding: 1rem 0.75rem;
}
.form-floating > .form-control::-webkit-input-placeholder {
  color: transparent;
}

.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}

.form-floating > .form-control:-ms-input-placeholder {
  color: transparent;
}

.form-floating > .form-control::-ms-input-placeholder {
  color: transparent;
}

.form-floating > .form-control::placeholder {
  color: transparent;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > .form-control:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  -webkit-transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.65;
  -webkit-transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-group > .form-control:focus,
.input-group > .form-select:focus {
  z-index: 3;
}
.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #00c9b7;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300c9b7' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #00c9b7;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 201, 183, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 201, 183, 0.25);
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}
.was-validated .input-group .form-control:valid, .input-group .form-control.is-valid, .was-validated
.input-group .form-select:valid,
.input-group .form-select.is-valid {
  z-index: 3;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #c1002b;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c1002b'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c1002b' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #c1002b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(193, 0, 43, 0.25);
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}
.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid, .was-validated
.input-group .form-select:invalid,
.input-group .form-select.is-invalid {
  z-index: 3;
}
form .form-group.has-icon .form-control,
.form .form-group.has-icon .form-control {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

form .form-group.has-icon .form-control.is-valid + .icon,
.form .form-group.has-icon .form-control.is-valid + .icon {
  color: #00c9b7;
}

form .form-group.has-icon .form-control.is-invalid + .icon,
.form .form-group.has-icon .form-control.is-invalid + .icon {
  color: #c1002b;
}
form .form-group.has-icon.icon-left .form-control,
.form .form-group.has-icon.icon-left .form-control {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 2.5rem;
  padding-right: 0;
}

.btn-primary {
  color: #ffffff;
  background-color: #5533ff;
  border-color: #5533ff;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #482bd9;
  border-color: #4429cc;
}


.iphone,
.iphone-x,
.ipad {
  border: 1px solid #d9e2ef;
  margin: 0 auto;
  position: relative;
}

.iphone:before, .iphone:after,
.iphone-x:before,
.iphone-x:after,
.ipad:before,
.ipad:after {
  content: "";
  position: absolute;
}

.iphone:before,
.iphone-x:before,
.ipad:before {
  width: 45px;
  height: 4px;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.iphone:after,
.iphone-x:after,
.ipad:after {
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
  display: block;
  border-radius: 50%;
}

.iphone .screen,
.iphone-x .screen,
.ipad .screen {
  margin: 0 auto;
  overflow: hidden;
}

.iphone .screen img,
.iphone-x .screen img,
.ipad .screen img {
  max-width: 100%;
}
.iphone-x {
  background: #131d2d;
  max-width: 243.75px;
  border-radius: 26px;
  padding: 9.75px;
  -webkit-box-shadow: inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 1px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 1px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
}
.iphone-x.light:before, .iphone-x.light:after {
  background-color: #e3e8eb;
}
// .col-md-6 {
//   -webkit-box-flex: 0;
//       -ms-flex: 0 0 auto;
//           flex: 0 0 auto;
//   width: 50%;
// }
.device-twin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 425px;
}

.device-twin .mockup {
  -webkit-box-shadow: inset 0 4px 10px 1px #ffffff, inset 0 0 6px 0 rgba(66, 77, 86, 0.5), 0 20px 50px -25px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 4px 10px 1px #ffffff, inset 0 0 6px 0 rgba(66, 77, 86, 0.5), 0 20px 50px -25px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.1);
  max-width: 210px;
}

@media (min-width: 768px) {
  .device-twin .phone {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .device-twin .phone.front:hover {
    -webkit-transform: rotate(2deg) translate3d(0, -8px, 0);
            transform: rotate(2deg) translate3d(0, -8px, 0);
  }
  .device-twin .phone.absolute {
    margin-top: -30px;
  }
  .device-twin .phone.absolute:hover {
    -webkit-transform: rotate(-2deg) translate3d(-10px, 0, 0);
            transform: rotate(-2deg) translate3d(-10px, 0, 0);
  }
}

.device-twin.free-width {
  max-width: none;
}
.ms-auto {
  margin-left: auto !important;
}
.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.mockup {
  position : relative;
  margin   : 0 auto;
  max-width: 255px;
}
.with-promo .mockup {
  max-width: 285px;
}
.absolute {
  position: absolute !important;
}
.iphone-x:before, .iphone-x:after {
  background-color: #1c2b43;
  z-index: 1;
}

.iphone-x:before {
  margin: 0 auto;
}

.iphone-x:after {
  top: 8px;
  margin-left: 33px;
}

.iphone-x .screen {
  border-radius: 13px;
}

.iphone-x .screen img {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.015);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.015);
}

.iphone-x .notch {
  position: absolute;
  border-radius: 13px;
  width: 135.85px;
  height: 22.75px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #131d2d;
  top: 0;
  left: 50%;
}

.iphone-x.light {
  background-color: #f1f4f8;
}

.iphone-x.light .notch {
  background-color: #f1f4f8;
}

.iphone-x.light:before, .iphone-x.light:after {
  background-color: #e3e8eb;
}

.me-0 {
  margin-right: 0 !important;
}
.shadow-box {
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(22, 28, 45, 0.03);
          box-shadow: 0 0.75rem 1.5rem rgba(22, 28, 45, 0.03);
}
.mockup img {
  display: block;
  max-width: 100%;
  height: auto;
}

section#thanks .container {
  padding: 40px 0;
}

section .container>div {
  padding-bottom: 40px;
}
header .container {
  padding-top   : 120px;
  padding-bottom: 120px;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1260px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}


.app-landing-2-header .static-shape {
  position: absolute;
}

.app-landing-2-header .static-shape.shape-circle {
  top    : 0;
  right  : 0;
  opacity: 0.2;
}

.app-landing-2-header .static-shape.shape-circle-1 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-1 div {
  width        : 500px;
  height       : 500px;
  background   : rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin       : 0;
}

.app-landing-2-header .static-shape.shape-circle-2 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-2 div {
  width        : 300px;
  height       : 300px;
  background   : rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin       : 0;
}

.app-landing-2-header .static-shape.shape-ring {
  left: 53%;
  top : 30%;
}
.navigation.fixed-top + main .header {
  padding-top: 90px !important;
}
@media (min-width: 768px) {
  section [class^="container"],
  .section [class^="container"] {
    padding-top: 90px;
    padding-bottom: 90px;

  }
}
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
            transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-165px) rotate(-360deg);
            transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
            transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-165px) rotate(-360deg);
            transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@-webkit-keyframes anti-clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(165px) rotate(0deg);
            transform: rotate(0deg) translate(165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(165px) rotate(360deg);
            transform: rotate(-360deg) translate(165px) rotate(360deg);
  }
}

@keyframes anti-clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(165px) rotate(0deg);
            transform: rotate(0deg) translate(165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(165px) rotate(360deg);
            transform: rotate(-360deg) translate(165px) rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}











