p{
  margin: 1rem 0;
}
body {
  overflow-x : hidden;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  font-size  : 16px;
  font-weight: 300;
  color      : #333;
}

.overflow-hidden {
  overflow: hidden !important;
}
.app-landing-2-header .animation-shape.shape-triangle {
  top: 80%;
  left: 0;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.app-landing-2-header .animation-shape {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-landing-2-header .animation-shape.shape-triangle div {
  opacity          : 0.1;
  position         : relative;
  background-color : #5533ff;
  text-align       : left;
  -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
  transform        : rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.app-landing-2-header .animation-shape.shape-triangle div:before,
.app-landing-2-header .animation-shape.shape-triangle div:after {
  content         : "";
  position        : absolute;
  background-color: inherit;
}

.app-landing-2-header .animation-shape.shape-triangle div,
.app-landing-2-header .animation-shape.shape-triangle div:before,
.app-landing-2-header .animation-shape.shape-triangle div:after {
  width                  : 90px;
  height                 : 90px;
  border-top-right-radius: 30%;
}

.app-landing-2-header .animation-shape.shape-triangle div:before {
  -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
  transform        : rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.app-landing-2-header .animation-shape.shape-triangle div:after {
  -webkit-transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
  transform        : rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.app-landing-2-header .animation-shape.shape-cross {
  top : 20%;
  left: 75%;
}

.app-landing-2-header .animation-shape.shape-cross div {
  position  : relative;
  background: #ffffff;
  width     : 3px;
  height    : 20px;
}

.app-landing-2-header .animation-shape.shape-cross div:after {
  content          : "";
  position         : absolute;
  background       : #ffffff;
  height           : 3px;
  left             : 50%;
  top              : 50%;
  width            : 20px;
  -webkit-transform: translate(-50%, -50%);
  transform        : translate(-50%, -50%);
}

.animation--rotating {
  -webkit-animation: rotating 15s linear infinite normal;
  animation        : rotating 15s linear infinite normal;
}

.animation--rotating-diagonal {
  -webkit-animation: rotating-diagonal 15s linear infinite alternate;
  animation        : rotating-diagonal 15s linear infinite alternate;
}

.animation--rotating-clockwise {
  -webkit-animation: rotating-clockwise 15s linear infinite normal;
  animation        : rotating-clockwise 15s linear infinite normal;
}

.app-landing-2-header .static-shape {
  position: absolute;
}

.app-landing-2-header .static-shape.shape-circle {
  top    : 0;
  right  : 0;
  opacity: 0.2;
}

.app-landing-2-header .static-shape.shape-circle-1 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-1 div {
  width        : 500px;
  height       : 500px;
  background   : rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin       : 0;
}

.app-landing-2-header .static-shape.shape-circle-2 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-2 div {
  width        : 300px;
  height       : 300px;
  background   : rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin       : 0;
}

.app-landing-2-header .static-shape.shape-ring {
  left: 53%;
  top : 30%;
}

.app-landing-2-header .static-shape.shape-ring-1 {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform        : translate3d(-50%, -50%, 0);
}

.app-landing-2-header .static-shape.shape-ring-1 .animation {
  width                     : 40px;
  height                    : 40px;
  border                    : 4px solid #ffffff;
  border-radius             : 50%;
  -webkit-animation-duration: 45s;
  animation-duration        : 45s;
}

.app-landing-2-header .static-shape {
  -webkit-transform: translate3d(-15%, -15%, 0);
  transform        : translate3d(-15%, -15%, 0);
}

.app-landing-2-header .static-shape.shape-ring-2 .animation {
  width                     : 40px;
  height                    : 40px;
  border                    : 1px solid #ffffff;
  border-radius             : 50%;
  -webkit-animation-duration: 60s;
  animation-duration        : 60s;
}

.app-landing-2-header .static-shape.shape-ring .animation {
  border-style: dashed;
}

.app-landing-2-header .static-shape.pattern-dots-1 {
  top             : 0;
  left            : 0;
  width           : 150px;
  height          : 20%;
  background-color: transparent;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 3px, transparent 3px);
  background-size : 30px 30px;
}


.app-landing-2-header .static-shape {
  position: absolute;
}

.app-landing-2-header .static-shape.shape-circle {
  top    : 0;
  right  : 0;
  opacity: 0.2;
}

.app-landing-2-header .static-shape.shape-circle-1 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-1 div {
  width        : 500px;
  height       : 500px;
  background   : rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin       : 0;
}

.app-landing-2-header .static-shape.shape-circle-2 {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform        : translate3d(25%, -25%, 0);
}

.app-landing-2-header .static-shape.shape-circle-2 div {
  width        : 300px;
  height       : 300px;
  background   : rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin       : 0;
}
.integrations-header .shape-ring-1 {
  left: 0;
  top: 0;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
}

.integrations-header .shape-ring-1 div {
  opacity: 0.15;
  width: 560px;
  height: 560px;
  border: 50px solid #d9e2ef;
  border-radius: 50%;
}
.app-landing-2-header .static-shape.shape-ring-1 {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.app-landing-2-header .static-shape.shape-ring-1 .animation {
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
            transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-165px) rotate(-360deg);
            transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
            transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-165px) rotate(-360deg);
            transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@-webkit-keyframes anti-clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(165px) rotate(0deg);
            transform: rotate(0deg) translate(165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(165px) rotate(360deg);
            transform: rotate(-360deg) translate(165px) rotate(360deg);
  }
}

@keyframes anti-clockwise {
  0% {
    -webkit-transform: rotate(0deg) translate(165px) rotate(0deg);
            transform: rotate(0deg) translate(165px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(165px) rotate(360deg);
            transform: rotate(-360deg) translate(165px) rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotating-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.shape-testimonials .shapes-container {
  z-index: 1;
}
.with-promo .promo-box.bottom-left + .shapes-container .shape.pattern {
  z-index: 0;
}

.with-promo .promo-box.bottom-left + .shapes-container .shape.pattern-dots {
  top: 0;
  right: 0;
  width: 200px;
  height: 70%;
  -webkit-transform: translate(50%, -30%);
          transform: translate(50%, -30%);
  background-color: transparent;
  background-image: radial-gradient(#d9e2ef 2px, transparent 2px);
  background-size: 15px 15px;
}
.with-promo .promo-box.top-right + .shapes-container .shape.pattern {
  z-index: 0;
}

.with-promo .promo-box.top-right + .shapes-container .shape.pattern-dots {
  top: 0;
  left: 0;
  width: 200px;
  height: 70%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  background-color: transparent;
  background-image: radial-gradient(#d9e2ef 2px, transparent 2px);
  background-size: 15px 15px;
}
.with-promo .shapes-container {
  z-index: -1;
}
.app-landing-2-header .animation-shape.shape-triangle div:before, .app-landing-2-header .animation-shape.shape-triangle div:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.app-landing-2-header .animation-shape.shape-triangle div, .app-landing-2-header .animation-shape.shape-triangle div:before, .app-landing-2-header .animation-shape.shape-triangle div:after {
  width: 90px;
  height: 90px;
  border-top-right-radius: 30%;
}

.app-landing-2-header .animation-shape.shape-triangle div:before {
  -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.app-landing-2-header .animation-shape.shape-triangle div:after {
  -webkit-transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.app-landing-2-header .animation-shape.shape-triangle {
  top: 80%;
  left: 0;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.app-landing-2-header .animation-shape.shape-triangle div {
  opacity: 0.1;
  position: relative;
  background-color: #5533ff;
  text-align: left;
  -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
          transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.app-landing-2-header .animation-shape {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app-landing-2-header .animation-shape.shape-cross div:after {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 3px;
  left: 50%;
  top: 50%;
  width: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
