<div class="card card-custom">
  <div id="post-spinner" *ngIf="show_spinner">
    <mat-spinner strokeWidth="2" color="primary" diameter="70"> </mat-spinner>
  </div>
  <div class="card-body py-0">
    <div class="table-responsive">
      <table
        mat-table
        matSort
        [style.width.%]="100"
        [ngClass]="show_table ? 'show-table' : 'hide-table'"
        [dataSource]="dataSource"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="campaignPicture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
          <td
            mat-cell
            *matCellDef="let row"
            class="cursor"
            (click)="viewCampaign(row)"
          >
            <img
              style="width: 40px; height: 40px; border-radius: 50%"
              matTooltip="View campaign"
              matTooltipPosition="right"
              [src]="row.campaignPicture"
            /></td
        ></ng-container>

        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Campaign Name
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="cursor"
            matTooltip="View campaign"
            matTooltipPosition="left"
          >
            {{ row.campaignName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="merches">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Campaign Merch
          </th>
          <td mat-cell *matCellDef="let row">{{row}}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.startDate | date: "MM/dd/yy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.endDate | date: "MM/dd/yy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="proof">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Proof</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="cursor" (click)="addProof(row)"
              >assignment_ind</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Option</th>
          <td mat-cell *matCellDef="let row">
            {{ row.option }}
            <i
              class="fa-solid fa-comment"
              matTooltip="Rate and Comment"
              (click)="openRatingForm(row)"
            ></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == ratingElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="example-element-diagram"></div>
              <div class="example-element-description">
                <div
                  class="d-flex justify-content-between"
                  *ngIf="element.feedback != null"
                >
                  <div class="d-flex">
                    <h5>Customer Review</h5>
                    <mat-icon
                      class="icon-delete delete-btn"
                      matTooltip="Delete"
                      (click)="removeRating(element.feedback.feedbackId)"
                      *ngIf="!is_company"
                      >delete</mat-icon
                    >
                  </div>
                  <div class="d-flex delete-btn">
                    <h5>Company Review</h5>
                    <mat-icon
                      class="icon-delete delete-btn"
                      matTooltip="Delete"
                      (click)="removeRating(element.feedback.feedbackId)"
                      *ngIf="is_company"
                      >delete</mat-icon
                    >
                  </div>
                </div>
                <div *ngIf="element.feedback != null">
                  <app-rating-details
                    [ratingDetails]="element.feedback"
                  ></app-rating-details>
                </div>

                <div
                  class="card-body p-2 p-md-4 ng-star-inserted"
                  *ngIf="element.feedback == null"
                >
                  <div class="row d-flex justify-content-between mb-7">
                    <div
                      class="d-flex flex-column justify-content-center align-items-center text-center symbol symbol-80px symbol-fixed position-relativ"
                    >
                      <i class="fas fa-tag text-muted"></i>
                    </div>
                    <label class="fw-400 text-center text-muted mt-2"
                      >This campaign doesn't have reviews</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          class="example-element-row"
          (click)="expandRow(row)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>

      <mat-paginator
        #paginator
        [ngClass]="show_table ? 'show-table' : 'hide-table'"
        [length]="totalCount"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
