.card {
  border: 0;
  box-shadow: 0 0 20px #4c577d26;
}

#post-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 248, 250, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cursor {
  cursor: pointer;
}

.expandable-detail-row {
  height: 0;

}

.expandable-details {
  overflow: hidden;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}


// ----- card css ----//

section {
  display: flex;
  flex-wrap: wrap !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-md {
  width: 1.75rem;
  height: 1.75rem;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}

.fa-solid{
  cursor: pointer;
}

/*----*/@at-root
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.container {
  min-width: 100% !important;
}
.delete-btn{
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
